@import 'https://fonts.googleapis.com/css?family=Open+Sans';
/* font-family changed from sans to Helvetica */
body {
	/*font-family: 'Helvetica';*/
	font-family: 'Open Sans', sans-serif;
	/*font-family: 'Oswald', sans-serif;*/
}
ul {
	list-style: none;
	padding:0;
}
ul li {
	list-style: none;
	padding:0;
}
.top-nav {
	border: none;
	background: none;
	margin:0;
}
.top-nav .navbar-nav > li > a {
	padding: 30px 13px;
	font-size: 14px;
}
.inner-header {
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 999;
	box-shadow:0 3px 4px 0.08px rgba(0, 0, 0, 0.2);
	background-color: #fff;
}
.nub-text {
	color: #fff !important;
	margin-top: 26px;
}
.banner-slider {
	margin-top: 40px;
	padding-bottom: 70px;
}
.logo {
	padding: 12px;
	background-color: #0083bb;
}
.new-right {
}
.section-2 {
	background-color: #1C2431;
	padding: 10px 0;
}
.numb, .x-icon {
	color: #fff;
	display: block;
	font-size: 50px;
	padding: 0 10px;
}
.numb {
	font-size: 36px;
	display: inline;
}
.section-2 h5 {
	color: #fff;
	font-size: 11px;
	margin-top: 21px;
	text-align: left;
}
.contanet {
	text-align:center !important;
}
.section-2 h6 {
	font-size: 11px;
	color: #0083BB;
	display: inline;
	width: 20%;
}
.section-1 {
	padding: 0px 0;
	margin-top: -87px;
	padding-top: 8px;
    padding-bottom: 8px;
}
#main .section-1 .col-md-1 {
	width: 11.1%;
}
.img-box{
	height: 80px;
}
.img-box img {
	max-height: 70px;
	margin:0 auto;
}
.section-1 h5 {
	font-size: 15px;
	font-weight: bold;
}
.side-box {
	padding:63px 15px 32px;
	text-align: left;
}
.main-2 {
	margin-top:100px;
}
.side-box h5 {
	margin-bottom: 10px;
}
/* tyrone changed font size from 25px to 23px*/
.side-box h1 {
	border-bottom: 1px solid #ccc;
	font-size: 23px;
	margin: 0 0 20px;
	padding-bottom: 20px;
	font-weight:bold;
}
/* tyrone changed font size from 16px to 14px*/
.side-box p {
	margin-bottom:67px;
	font-size: 14px;
	text-align: left;
}
.side-box a {
	text-decoration: none;
}
.link {
	align-items: center;
	border-bottom: 4px solid #0083BB;
	color: inherit;
	display: inline-flex;
	font-size: 18px;
	font-weight: 700;
	padding-bottom: 5px;
}
.new-section {
	background-color: #f4f4f4;
}
.footer {
	background: #0083BB none repeat scroll 0 0;
	color: #fff;
	display: inline-block;
	font-weight: 300;
	padding: 20px 0;
	width: 100%;
}
.footer h1 {
	font-size: 15px;
	font-weight: 400;
	margin-bottom: 20px;
	margin-top: 0;
	text-transform: uppercase;
	padding-left: 4%;
}
.footer address a {
	color: #48cfad;
}
.footer a,
.footer p {
	font-size: 12px;
}
.tweet-box {
	background: #505b71 none repeat scroll 0 0;
	border-bottom: 1px solid #636f79;
	border-radius: 1px;
	font-size: 14px;
	padding: 8px 15px;
}
.tweet-box::before {
 background-color: #505b71;
 border-color: #505b71;
 border-image: none;
 border-right: 1px none #505b71;
 border-style: none;
 content: "";
 display: block;
 height: 22px;
 left: 60px;
 position: absolute;
 top: 32px;
 transform: rotate(45deg);
 width: 22px;
}
.tweet-box a, .tweet-box i {
	color: #00adef;
}
.tweet-box a:hover {
	color: #48cfad;
}
.tweet-box i {
	float: left;
	font-size: 40px;
	margin-right: 15px;
}
.social-link-footer li {
	float: right;
	margin: 5px 10px 5px 0;
	padding-bottom: 5px;
}
.social-link-footer li a {
	background: #505b71 none repeat scroll 0 0;
	border-radius: 50px;
	color: #fff;
	float: left;
	font-size: 20px;
	height: 50px;
	padding: 10px;
	text-align: center;
	transition: all 0.3s ease 0s;
	width: 50px;
}
.social-link-footer li a:hover {
	background: #48cfad none repeat scroll 0 0;
	transition: all 0.3s ease 0s;
}
.copyright {
	color: #fff;
	padding-top: 15px;
}
.page-footer {
	padding: 0 13%;
}
ul.page-footer-list {
	list-style: outside none none;
	padding: 0 10px;
}
ul.page-footer-list li {
	border-bottom: 1px dashed #636f79;
	line-height: 25px;
}
ul.page-footer-list a {
	color: #fff;
}
ul.page-footer-list li i {
	padding-right: 10px;
}
.footer-small {
	background-color: #1C2431;
	margin-top: -6px;
	padding-top: 5px;
}
.text-footer {
	margin-left: 10px;
	padding-left: 10px;
}
.text-footer p {
	text-align: left;
}
.address p {
	margin-bottom: 5px;
	text-align: left;
}
.main-slider {
	background: #475168 none repeat scroll 0 0;
	color: #fff;
	overflow: hidden;
	position: relative;
	z-index: 1;
}
.slider-colored {
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	position: relative;
	z-index: 1;
}
.slide_title {
	color: #48cfad;
	font-size: 35px;
	font-weight: 300;
	text-transform: uppercase;
}
.slide_subtitle {
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	padding: 5px;
	text-transform: uppercase;
}
.slide_list_item {
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	padding: 5px;
	text-transform: uppercase;
}
.slide_desc {
	color: #fff;
	font-size: 14px;
	font-weight: lighter;
	line-height: 24px;
}
.slide_desc_bordered {
	border-left: 3px solid #ddd !important;
	padding-left: 5px;
}
.slide_btn {
	background: #48cfad none repeat scroll 0 0;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	font-weight: 300;
	padding: 15px 20px;
	text-transform: uppercase;
}
.slide_btn:hover, .slide_btn:focus {
	background: #16a085 none repeat scroll 0 0;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	font-weight: 300;
	padding: 15px 20px;
	text-transform: uppercase;
}
.dark-text {
	color: #797d87;
}
.yellow-txt {
	color: #ffe582;
}
#home-services h2 {
	font-size: 22px;
	margin-bottom: 45px;
	margin-top: 20px;
	padding-bottom: 5px;
	text-align: center;
	text-transform: uppercase;
}
.h-service {
	border: 1px solid #d3d3d3;
	margin-bottom: 25px;
}
.round-fifty {
	border-radius: 50px;
	margin-left: 40%;
	margin-top: -25px;
}
.ico-bg {
	background: #48cfad none repeat scroll 0 0;
}
#home-services .h-service-content h3 {
	font-size: 20px;
}
.h-service-content p {
	padding: 5px 10px 10px;
	font-size: 12px;
	text-align: justify;
	min-height: 125px;
}
.list-tab-2, .list-tab {
	float: left;
	padding-right: 20px;
}
.list-tab-2 {
	padding-right: 100px;
}
.hello {
	margin-bottom: 15px;
}
.border-2 {
	border-bottom: 2px solid #E9E9EA;
	border-top: 2px solid #E9E9EA;
	margin-bottom:10px;
}
.profile-table {
	margin-left: 10px;
}
span.star-rating span {
	background: url(../images/icon_stars_map.gif) no-repeat scroll 0 -36px;
no-repeat scroll 0 -36px;
	display: block;
	height: 16px;
}
.profile-positive {
	color: #006838;
	font-weight: bold;
}
.profile-table-feedback-history {
	line-height: 27px;
	width: 100%;
}
.profile-table-feedback-header td {
	border-bottom: 1px solid #d5d7d8;
	font-weight: bold;
	height: 28px;
	text-align: center;
}
.profile-table-feedback-header td {
	border-bottom: 1px solid #d5d7d8;
	font-weight: bold;
	height: 28px;
	text-align: center;
}
.profile-table-feedback-label {
	font-weight: bold;
	padding-left: 5px;
	width: 150px;
}
.profile-table-feedback-content {
	width: 170px;
}
.profile-table-feedback-StarContainer div {
	height: 22px;
	vertical-align: middle;
}
span.star-rating {
	background: rgba(0, 0, 0, 0) url("../images/icon_stars_map.gif") no-repeat scroll 0 0;
	display: block;
	float: left;
	height: 16px;
	width: 80px;
}
.profile-table-feedback-header td {
	border-bottom: 1px solid #d5d7d8;
	font-weight: bold;
	height: 28px;
	text-align: center;
}
.profile-table-feedback-StarContainer div {
	height: 22px;
	vertical-align: middle;
}
.layout-unit.layout-1of2 {
	float: left;
}
.profile-table-feedback-greyCol {
	background-color: #f2f2f3;
	font-weight: bold;
	left: 25%;
	position: relative;
	width: 50%;
}
.layout .layout-1of5 {
	width: 20%;
	float:right;
}
.profile-center {
	text-align: center;
}
.uko-con {
	background-color: #f9f9fa;
	border: 1px solid #B7C0AF;
	margin-bottom: 20px;
	padding: 10px;
}
span.star-rating {
	background: rgba(0, 0, 0, 0) url("../images/icon_stars_map.gif") no-repeat scroll 0 0;
	display: block;
	float: right;
	height: 16px;
	width: 80px;
}
.round-fifty {
	border-radius: 50px;
	margin-left: 40%;
	margin-top: -25px;
}
.ico-bg {
	background: #0083BB none repeat scroll 0 0;
}
.icon-wrap {
	color: #fff;
	float: left;
	font-size: 2em;
	height: 60px;
	line-height: 60px;
	margin-right: 30px;
	text-align: center;
	width: 60px;
}
/*new css*/


/*Bread Crumbs*/
.breadcrumbs {
	margin-bottom: 0;
}

.banner-slider {
	background-color: #F4F4F4;
}
.titel {
	font-size: 48px;
	font-weight: bold;
	color: #262626;
}
.banner-conatnet {
	text-align: left;
	padding: 85px;
}
/*box csssss*/


.slantedBackgroundLeft:before {
	background-color: #ffffff;
	left: 40%;
}
.slantedBackgroundLeft:before {
	left: 67%;
	transform: rotate(331deg);
}
.slanted:before {
	display: block;
}
.slanted {
	background-color: inherit;
	background-repeat: no-repeat;
	background-size: auto 320px;
	overflow: hidden;
	position: relative;
}
 .slanted::before {
 background-color: inherit;
 content: "";
 height: 500%;
 position: absolute;
 top: -250%;
 width: 100%;
 z-index: 2;
}
.slanted .imageWrapper {
	bottom: 0;
	left: 0;
	max-height: 460px;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
}
.slanted .imageWrapper img {
	max-width: 670px;
	position: absolute;
}
.slanted .imageWrapper img {
	max-width: 670px;
	position: absolute;
}
/*nmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm*/


 #adModule {
	padding: 31px 15px 50px;
}
.shipper, .marketing .business {
	background-color: white;
}
.carrier {
	background-color: #F4F4F4;
}
.slanted {
	position: relative;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: auto 320px;
	background-color: inherit;
}
.slanted .imageWrapper {
	max-height: 460px;
	overflow: hidden;
}
.slanted .imageWrapper img {
	max-width: 100%;
	height: auto;
}
.slanted .homepage-h1 {
	font-size: 1.5rem;
	letter-spacing: 0.1rem;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 15px;
}
.slanted .sectionContent {
	position: relative;
	padding: 28px 0px 0px;
	z-index: 3;
}
.slanted:before {
	content: '';
	position: absolute;
	top: -250%;
	width: 100%;
	height: 500%;
	background-color: inherit;
	z-index: 2;
}
.slanted.slantedBackgroundLeft:before {
	left: 53.5%;
	background-color: #ffffff;
	transform: none;
}
#statsModule {
	padding: 58px 15px 55px;
}
#statsModule .numeral {
	font-size: 2.25rem;
	margin-right: 5px;
	position: relative;
}
#statsModule .stat {
	overflow: hidden;
}
#statsModule .stat.listings, .marketing #statsModule .stat.customers {
	display: none;
}
#statsModule .homepage-h5 {
	color: inherit;
	display: inline-block;
	max-width: 75px;
	text-align: left;
	line-height: 0.85rem;
}
.odometer:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: -25px;
	right: 0px;
	box-shadow: inset #1C2431 13px 0px 8px 5px;
}
.millions {
	position: relative;
	height: 51px;
	top: 3px;
}
.controls {
	padding: 20px;
}
.controls .controls-selectors {
	float: left;
}
.controls .spacer {
	display: inline-block;
	height: 38px;
	width: 1px;
	border-right: 1px solid #c1c1c1;
	margin: 0 33px;
	vertical-align: middle;
	transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	/* IE 9 */
      -webkit-transform: rotate(20deg);
/* Safari and Chrome */ }
.controls .controls-description {
	text-align: center;
	font-size: 19px;
	margin-bottom: 28px;
}
.controls .selector-link {
	color: inherit;
	padding-bottom: 4px;
}
.controls .selector-link:hover {
	color: #02AAF3;
}
.controls .selector-link.active {
	border-bottom: 3px solid #02AAF3;
}
#partnerModule {
	min-height: 100px;
	padding: 27px 15px 32px;
	text-align: center;
}
#partnerModule .partner-module-cta {
	text-align: center;
	font-size: 1.125rem;
	margin-bottom: 20px;
	letter-spacing: 0.05rem;
}
.hero-headline {
	word-wrap: break-word;
}
#map {
	height: 476px;
	width: 100%;
}
.slanted.slantedBackgroundLeft .sectionContent {
	margin-left: 53.5%;
}
.slanted .imageWrapper img {
	max-width: 670px;
	position: absolute;
}
.slanted .imageWrapper {
	bottom: 0;
	left: 0;
	max-height: 460px;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
}
.slanted .imageWrapper {
	bottom: 0;
	left: 0;
	max-height: 460px;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
}
.slanted .imageWrapper {
	bottom: 0;
	left: 0;
	max-height: 460px;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
}
.slanted .imageWrapper img {
	max-width: 670px;
	position: absolute;
}

.slanted .imageWrapper img {
	max-width: 670px;
	position: absolute;
}
.slanted.slantedBackgroundRight img {
	right: 0;
}
 .slanted.slantedBackgroundRight::before {
 right: 60.5%;
 transform: none;
 background-color: #f4f4f4;
}
.qub-p {
	width: 377px;
}
.marketing .homepage-section.section {
	padding: 55px 15px 60px;
}
.yo-section {
	padding: 10px 0;
}
.yo-section h2 {
	font-size: 18px;
}
.login-ion {
	font-size: 20px;
	margin-right: 40px;
	vertical-align: middle;
	margin-left: 10px;
}
.face-btn {
	padding: 0 40px 0 0;
	margin:15px 0;
}
.login {
	background-color: #fff;
	padding:0;
}
.yoyo {
	padding:20px;
}
.deatel {
	margin-top:20px;
}
.login-next {
	border-right: 1px solid #eeeeee;
}
.login h5 {
	font-size: 21px;
}
.color-log {
	background-color: #F8F8F8;
}
.checkbox {
	float: right;
}
.footable.breakpoint .footable-toggle {
	background: rgba(0, 0, 0, 0) url("../images/Add-icon.png") no-repeat scroll 0 0;
	cursor: pointer;
	display: inline-block;
	height: 14px;
	margin-right: 10px;
	vertical-align: middle;
	width: 14px;
}
.main-inner {
	padding-top:100px;
}
.widget-title {
	font-size:16px;
	margin-top: 0;
}
.fs-pagination-total {
	margin-right: 10px;
}
.item h6 {
	font-size:14px;
	overflow:hidden;
	margin:0;
}
.plase2 {
	margin-left: 10px;
	vertical-align: -moz-middle-with-baseline;
}
.tab-box {
	float: left;
	margin-left: 10px;
}
.tab-box p {
	margin:0;
}
.quli {
	color:#5C9659;
}
.iner-co {
	color:#942024;
}
.color-t {
	background-color: #F1F1F2;
}
.more a img {
	border: 1px solid #ccc;
	padding:3px;
	max-width: 15px;
}
.a-new {
	color: #fff;
}
.top-lab {
	display: block;
	font-size: 16px;
	text-align: left;
	margin-bottom:10px;
	padding: 10px;
}
.border-left.clearfix {
	border-left: 1px dashed #d6d7d7;
	padding-left: 20px;
}
.cityes {
	color: #000;
	font-size: 12px;
}
label {
	margin-left: 8px;
}
.back-img {
	background: #a3c5d8 url("../images/arrow_bg.png") no-repeat scroll center top;
	height: 180px;
	width: 100%;
	text-align: center;
}
.opo {
	background-color: #fff;
	border-radius: 6px;
	padding: 5px;
}
.back-img h2 {
	font-size: 22px;
	padding: 5px;
	font-weight: bold;
}
.top-y {
	font-size: 12px;
	margin: 4px 0;
}
.opo h5 {
	font-weight: bold;
	color: #0083BB;
}
.lochan {
	padding-bottom: 52px;
}
.tobot p {
	margin: 0;
}
.tobot > li {
	border-bottom: 1px dashed #666;
}
.jio-box {
	border-bottom: 2px solid #ccc;
}
.ricko {
	margin-left: 30px;
}
.toper {
	margin: 20px 0;
}
.widget-title {
	background-color:#337AB7;
	color:#fff;
	border-radius: 0;
}
.latest-titel {
	background-color: #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 20px 0;
	margin-bottom:10px;
}
.bb-btn {
	display: block;
}
h4 {
	font-weight: bold;
}
.nav-tabs {
	border-bottom: 3px solid #5e90b5;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	border-color: #5e90b5 #5e90b5 transparent;
	border-width: 3px;
}
.nav-tabs > li {
	float: left;
	margin-bottom: -3px;
}
.nav-tabs > li > a {
	border-radius: 22px 22px 0 0;
}
.yo-tok {
	text-align: center;
}
.yo-border {
	border-left: 1px dotted #CCC;
}
.yo-tok a {
	padding:15px;
	display: block;
	margin: 10px 0 20px;
	text-decoration: none;
}
.yo-tok img {
	max-height: 143px;
	max-width: 100%;
}
.latest-titel h3 {
	font-size: 25px;
	font-weight: bold;
	margin: 0;
}
.repot-b {
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
}
.widget {
	margin-bottom: 2px;
}
.h-color {
	background-color: #f2f2f3;
}
.uo {
	font-size: 14px;
	padding: 0 10px;
}
.youck {
	background-color: #E7E8E9;
}
.repot-b:first-child {
	border-left: none;
}
.inner-main {
	background-color: #f4f4f4;
}
.inner-main h6 {
	font-size: 18px;
}
.yo-tok a:hover {
	background-color: #fff;
}
.more {
	display: inline-block;
	font-weight: bold;
	padding: 0px 7px 7px 0;
	text-transform: uppercase;
}
.fix_left img {
	left:0 !important;
}
.set_head_row{
	margin-left:0;
	margin-right:0;
}
#owl-demo .item img{
    display: block;
    width: 100%;
    height: 300px;
}
.owl-pagination{
	display:none;
}
.owl-buttons{
	display:none;
}
.check-box-item{
	text-align:left;
}

.section-2 {
    /*height: 300px;*/
}
.section-2.ad-block-main {
    height: 300px;
}
.section-2 .container .col-md-4 {
	text-align: center;
}
 @media (min-width: 515px) {
 .marketing .hero {
 background-color: transparent;
}
}
 @media (min-width: 768px) {
 .marketing .hero-headline {
 word-wrap: normal;
}
 .marketing .hero-description {
 max-width: 75%;
}
 .marketing .hero-wrapper {
 background-position: calc(258px + 50%) 60px;
 background-image: url(/js/ad6269b9afe566a8ce2add6f02a36084.png);
 background-size: 250px;
}
 .marketing .hero {
 text-align: left;
}
 .marketing .hero .flex-item {
 margin-left: 24px;
}
 .marketing .button {
 float: left;
}
 .marketing .categories {
 padding: 15px;
}
 .marketing .homepage-h4 {
 padding-top: 12px;
 font-size: 1.125rem;
 margin: 0 0 48px;
}
 .marketing .category {
 padding: 30px 30px 0;
}
 .marketing .category:not(:nth-child(3n)) {
 border-right: 1px solid #bbb8b8;
}
 .marketing .category:nth-child(n + 4) {
 border-bottom: none;
}
 .marketing .category .category-svg-container {
 display: none;
}
 .marketing .category .category-img {
 max-width: 135px;
 display: block;
 margin: 0 auto;
}
 .marketing .category .category-title {
 font-size: 0.875rem;
 letter-spacing: 0.1rem;
 margin: 3px 0 7px;
}
 .marketing .category .category-description {
 margin: 0 0 1.875rem 0;
}
 .marketing .slanted:before {
 display: none;
}
 .marketing #adModule {
 padding: 55px 15px 60px;
}
 .marketing #statsModule .stat.listings {
 display: block;
}
 .marketing #partnerModule {
 text-align: left;
}
 .marketing #partnerModule .partner-module-cta {
 display: inline-block;
 margin-right: 30px;
 margin-bottom: 0;
}
}
 @media (min-width: 1025px) {
 .marketing .middle-cta {
 font-size: 15px;
}
 .marketing .hero-wrapper {
 background-image: none;
 background-position: 100%;
}
 .marketing .hero {
 padding: 100px 0 138px;
}
 .marketing .hero .homepage-video {
 display: block;
 left: 20px;
 top: -75px;
 position: absolute;
 width: 1000px;
}
 .marketing .hero .hero-static {
 display: none;
 left: 20px;
 top: -75px;
 position: absolute;
 width: 1000px;
}
 .marketing .categories {
 position: relative;
 margin-top: -71px;
 padding: 0;
 background-color: transparent;
}
 .marketing .categories .category {
 text-align: center;
 border: none;
 padding: 15px 15px 0;
}
 .marketing .categories .category:hover, .marketing .categories .category:focus {
 background: linear-gradient(0deg, #02AAF3 5px, transparent 0%, transparent 0%);
 background-size: 70%;
 background-repeat: no-repeat;
 background-position: 50% 100%;
}
 .marketing .categories .category .category-description {
 margin: 0 0 1.175rem 0;
}
 .marketing .helperText {
 margin: 0 0 1.2rem 0;
}
 .marketing .slanted .flex-item {
 margin-top: 0;
 background: transparent;
}
 .marketing .slanted:before {
 display: block;
}
 .marketing .slanted.slantedBackgroundLeft .sectionContent {
 margin-left: 53.5%;
}
 .marketing .slanted.slantedBackgroundLeft:before {
 left: 40%;
 background-color: #FFFFFF;
}
 .marketing .slanted.slantedBackgroundRight img {
 right: 0;
}
 .marketing .slanted.slantedBackgroundRight:before {
 right: 41%;
 background-color: #F4F4F4;
}
 .marketing .slanted .sectionContent {
 padding: 63px 15px;
 min-height: 460px;
}
 .marketing .slanted .sectionContent .homepage-p {
 margin-bottom: 80px;
}
 .marketing .slanted .imageWrapper {
 max-height: 460px;
 overflow: hidden;
 position: absolute;
 top: 0;
 bottom: 0;
 right: 0;
 left: 0;
}
 .marketing .slanted .imageWrapper img {
 position: absolute;
 max-width: 670px;
}
 .marketing #statsModule .stat.customers {
 display: block;
}
 .marketing .controls {
 padding: 46px 15px 44px;
}
 .marketing .controls .controls-description {
 text-align: left;
 margin-bottom: 0;
 font-size: 1.5rem;
 line-height: 1.9rem;
}
 .marketing .controls .controls-selectors {
 padding-top: 4px;
}
 .marketing #partnerModule .cta-link {
 padding-top: 10px;
}
 .marketing .forceSentenceWrap {
 max-width: 62%;
}
}
 @media (min-width: 1153px) {
 .marketing .hero .homepage-video {
 left: 90px;
}
 .marketing .hero .hero-static {
 left: 90px;
}
}
 @media (min-width: 1210px) {
 .marketing .hero-wrapper {
 background-image: url(/js/6c1dde13c2e64bd02ee4f1f4500b6c41.png);
 background-position: 100% 25%;
 background-size: inherit;
}
 .marketing .hero .homepage-video {
 left: 30px;
}
 .marketing .hero .hero-static {
 left: 30px;
}
}
 @media (max-width: 1025px) {
 .marketing .hero .flex-item, .marketing .controls .flex-item, .marketing #partnerModule .flex-item {
 -webkit-flex: 1 auto;
 -ms-flex: 1 auto;
 flex: 1 auto;
}
}
 @media (max-width: 760px) {
 .titel {
 font-size: 35px;
}
 .banner-conatnet {
 padding: 30px;
}
 .back-img {
 height: 500px;
}
 .opo {
 margin-bottom:10px;
}
}
 @media (max-width: 500px) {
 .back-img {
 height: 700px;
}
 .main-2 {
 margin-top: 108px;
}
 .banner-slider {
 margin-top: 100px;
}
 .main-inner {
 padding-top: 135px;
}
}

.glyphicon-star:before {
    content: "\e006";
    color: #f90;
}
.p_modul_set p{
	font-size:15px !important;
}
.sr-bt{
	width: 100%;
    font-size: 15px;
}
.modal-header {
    background:#0083bb;
    color: #fff;
    border-radius: 1px 1px 0 0;
    -webkit-border-radius: 1px 1px 0 0;
    border-bottom: none;
}
.starrr{
	display: initial;
	margin-right:10px;
}
@media screen and (min-width: 768px){
.modal-dialog {
    right: auto;
    left: 50%;
    width: 650px;
    padding-top: 30px;
    padding-bottom: 30px;
}
}
.set_box_q{
	border:1px solid #cfcfcf;
	padding:10px;
	margin-bottom: 15px;
}
.given_quote {
    padding: 15px;
    width: 100%;
    float: right;
    margin-bottom: 10px;
    font-size: 20px;
    background: #37bc9b;
    color: #fff !important;
    border: 1px solid #29a989;
}
.home_top_box{
	min-height: 150px;
	padding: 10px;
	background:#fff;
	/* border: 1px solid rgba(239, 239, 239, 0.75); */
	border-radius: 5px;
	box-shadow: 0px 1px 3px #cfcfcf;
}
.home_top_box h5{
	margin-bottom: 2px;
}
.home_top_box p{
	margin-bottom:0;
	font-size: 12px;
}


/*Ads Server*/
ins {
	width: 100%;
	display: inline-block;
}
ins img {
	width: 100%;
	height: auto;
	max-height: 415px;
}