 <div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-4">
            <h1>
              Subscriptions
            </h1>
          </div>
          <div class="col-lg-8 col-sm-8">
            <ol class="breadcrumb pull-right">
              <li>
                <a href="index.html">
                  Subscriptions
                </a>
              </li>
              
              <li class="active">
                Subscriptions
              </li>
             <li class="active"><a href="" onclick="window.history.back();">Back</a></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!--breadcrumbs end-->

    <!--container start-->
    <div class="container" >
      <div class="row">
</div>

    <div>
         
        hello subscriptions
        
      </div>
      <!-- End container -->
    </div>


    <!--container end-->
