{if $data4[0].on_off=='OFF'}

<div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-4">
            <h1>
         Thank You
            </h1>
          </div>
          <div class="col-lg-8 col-sm-8">
            <ol class="breadcrumb pull-right">
              <li>
                <a href="index.html">
                  Home
                </a>
              </li>
              
              <li class="active">
                Thank You
              </li>
                <li class="active"><a href="" onclick="window.history.back();">Back</a></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!--breadcrumbs end-->

    <!--container start-->
    <div class="container" >
      <div class="row">
</div>
     
  
                <div class="contact-form">
              <div class="table-responsive">
                    
                    <p><h3>Thank You For Posting Shipment</h3></p>
                    
                    <p>Your Shipment will Active in 24 hours. After Activetion Your shipment You can see it in Your My Account.</p>
       

</div>
</div>

        <!-- End row -->

      </div>
      <!-- End container -->
    </div>


    <!--container end-->
{else}


<div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-4">
            <h1>
         Payment Option
            </h1>
          </div>
          <div class="col-lg-8 col-sm-8">
            <ol class="breadcrumb pull-right">
              <li>
                <a href="index.html">
                  Home
                </a>
              </li>
              
              <li class="active">
                Payment Option
              </li>
                <li class="active"><a href="" onclick="window.history.back();">Back</a></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!--breadcrumbs end-->

    <!--container start-->
    <div class="container" >
      <div class="row">
</div>
     
  
                <div class="contact-form">
              <div class="table-responsive">
                    <form name="payment" method="post" action="pay_option.html" >
						<table border="0" cellspacing="1" cellpadding="2" align="center">
						
						  <input type="hidden" name="amount" value="{$amount}" />
                          <input type="hidden" name="ord_id" value="{$oid}" />
						    <tr>
								<td width="277" align="right" class="reg_align" valign="top">Service Charge&nbsp;&nbsp;&nbsp;:&nbsp;</td>
								<td width="278" align="left" 	class="form1" colspan="4">
								<table border="0" cellspacing="0" cellpadding="0">
								{$data4[0].price}&nbsp;/ &nbsp;{$data4[0].currency}
								</table>	
								</td>
						  </tr>
                        
                          
                          {if $data3[0].paypal_on=='Y'}
                          <tr><td colspan="4">&nbsp; </td></tr>
						  <tr>
								<td align="right" class="reg_align">Paypal Option&nbsp;&nbsp;&nbsp;:&nbsp;</td>
								<td class="contact" align="left"><input type="radio" name="payment_opt"  value="P" checked="checked">&nbsp;&nbsp;<td ><img src="{$site_url}/templates/img/paypal.jpg" height="100" width="356" /></td> <!--<input type="radio" name="payment_opt" value="A" checked="checked">AUTHORISED.NET&nbsp;&nbsp;&nbsp; -->
								</td>
						  </tr>
                            <tr><td colspan="4">&nbsp;</td></tr>
                          {/if}
                          
                          {if $data3[0].checkout_on=='Y'}
						  <tr>
								<td align="right" class="reg_align">2CheckOut Option&nbsp;&nbsp;&nbsp;:&nbsp;</td>
								<td class="contact" align="left"><input type="radio" name="payment_opt"  value="C" >&nbsp;&nbsp;<td><img src="{$site_url}/templates/img/checkout_logo.gif" height="70" width="200" /></td> 
								</td>
						  </tr>
						      <tr><td colspan="4">&nbsp;</td></tr>
                           {/if}
                           
                          {if $data3[0].wire_on=='Y'}
                          <tr>
								<td align="right" class="reg_align">Wire Transfer Option&nbsp;&nbsp;&nbsp;:&nbsp;</td>
								<td class="contact" align="left"><input type="radio" name="payment_opt"  value="W" >&nbsp;&nbsp;<td><img src="{$site_url}/templates/img/wire_transfer_logo.gif" height="70" width="200" /></td> 
								</td>
						  </tr>
						      <tr><td colspan="4">&nbsp;</td></tr>
                           {/if}
						<tr>
						<td colspan="4" align="center"  ><input name="submit"  class="sub_button" type="submit" value="SUBMIT"></td>
																  </tr>
						<tr><td colspan="4">&nbsp;</td></tr>									  
																</table></form>
       

</div>
</div>

        <!-- End row -->

      </div>
      <!-- End container -->
    </div>

{/if}
    <!--container end-->
