<!--slider-->
{*
<div class="contact-map">
    <div id="map-canvas" style="width: 100%; height: 400px">
        <div id="da-slider" class="da-slider"
             style="background-image: url(&quot;http://192.168.1.10/demo_uship/images/slider/1437807251.png&quot;); background-position: 0% 0%;">
            <div class="da-slide text_shedow da-slide-fromleft da-slide-current"
                 style="background-image:url(img/parallax-slider/images/main-bg.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>
                                <i class="text_shedow">ALERT NEARBY<br> TRANSPORTERS</i>
                                <!-- <br>
                                 <i>RESPONSIVE</i>
                                 <br>
                                 <i>DESIGN</i>-->
                            </h2>
                            <p>
                                <i>List your shipment to automatically alert <br> thousands of Ship4U transporters</i>
                                <!-- <br />
                                 <i>veniam omnis</i>-->
                            </p>
                            <!-- <a href="#" class="btn btn-info btn-lg da-link">
                               Read more
                             </a>-->
                            <div class="da-img">
                                <img src="http://192.168.1.10/demo_uship/images/slider/1449895571.png" alt="image01">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="da-slide text_shedow da-slide-toright"
                 style="background-image:url(img/parallax-slider/images/main-bg.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>
                                <i class="text_shedow">BOOK ONLINE</i>
                                <!-- <br>
                                 <i>RESPONSIVE</i>
                                 <br>
                                 <i>DESIGN</i>-->
                            </h2>
                            <p>
                                <i>Read your transporter?s reviews and <br>book online to lick-in your rate</i>
                                <!-- <br />
                                 <i>veniam omnis</i>-->
                            </p>
                            <!-- <a href="#" class="btn btn-info btn-lg da-link">
                               Read more
                             </a>-->
                            <div class="da-img">
                                <img src="http://192.168.1.10/demo_uship/images/slider/1437992116.png" alt="image01">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="da-slide text_shedow da-slide-toright"
                 style="background-image:url(img/parallax-slider/images/main-bg.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>
                                <i class="text_shedow">Track &amp; MANAGE</i>
                                <!-- <br>
                                 <i>RESPONSIVE</i>
                                 <br>
                                 <i>DESIGN</i>-->
                            </h2>
                            <p>
                                <i>Get real-time status alerts form most transports<br>at pickup, delivery and
                                    everywhere in between</i>
                                <!-- <br />
                                 <i>veniam omnis</i>-->
                            </p>
                            <!-- <a href="#" class="btn btn-info btn-lg da-link">
                               Read more
                             </a>-->
                            <div class="da-img">
                                <img src="http://192.168.1.10/demo_uship/images/slider/1437807701.png" alt="image01">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--
                        <div class="da-slide">
                        <div class="container">
                    <div class="row">
                      <div class="col-md-12">
                    <h2>
                      <i>RESPONSIVE VIDEO</i>
                        <br />
                      <i>SUPPORT AND</i>
                        <br />
                      <i>MANY MORE</i>
                    </h2>
                    <p>
                      <i>Lorem ipsum dolor amet</i>
                        <br />
                      <i>tempor incididunt ut</i>
                    </p>
                    <a href="#" class="btn btn-info btn-lg da-link">
                      Read more
                    </a>
                    <div class="da-img">
                      <img src="http://192.168.1.10/demo_uship/templates/img/parallax-slider/images/3.png" alt="image01" />
                    </div>
                  </div>
                      </div>
                    </div>
                  </div>


                  <div class="da-slide">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12">
                    <h2>
                      <i>USING BEST WEB</i>
                        </br>
                      <i>SOLUTIONS WITH</i>
                        </br>
                      <i>HTML5/CSS3</i>
                    </h2>
                    <p>
                      <i>Lorem ipsum dolor amet</i>
                      <br />
                      <i>tempor incididunt ut</i>
                      <br />
                      <i>veniam omnis </i>
                    </p>
                    <a href="#" class="btn btn-info btn-lg da-link">
                      Read more
                    </a>
                    <div class="da-img">
                      <img src="http://192.168.1.10/demo_uship/templates/img/parallax-slider/images/1.png" alt="image01" />
                    </div>
                  </div>
                  </div>
                  </div>
                  </div>-->

            <nav class="da-arrows">
        <span class="da-arrows-prev">
        </span>
                <span class="da-arrows-next">
        </span>
            </nav>
            <nav class="da-dots"><span class="da-dots-current"></span><span class=""></span><span class=""></span></nav>
        </div>
    </div>
</div>*}
{*
<div id="owl-demo" class="owl-carousel owl-theme">
    <div class="item"><img src="http://192.168.1.111/Eagle_Templates/Document/Courier/COU_11/images/banner_1.jpg"
                           alt="Ammy Design"></div>
    <div class="item"><img src="http://192.168.1.111/Eagle_Templates/Document/Courier/COU_11/images/banner_2.jpg"
                           alt="Ammy Design"></div>
    <div class="item"><img src="http://192.168.1.111/Eagle_Templates/Document/Courier/COU_11/images/banner.jpg"
                           alt="Ammy Design"></div>
</div>*}


<div id="owl-demo" class="owl-carousel owl-theme">
    {$functions->get_slider_home1()}
    <div class="item">
        <img src="{$site_url}/images/slider/{$slider_info[0].image_path}" alt="">
    </div>
    <div class="item">
        <img src="{$site_url}/images/slider/{$slider_info[1].image_path}" alt="">
    </div>
    <div class="item">
        <img src="{$site_url}/images/slider/{$slider_info[2].image_path}" alt="">
    </div>
    <div class="item">
        <img src="{$site_url}/images/slider/{$slider_info[3].image_path}" alt="">
    </div>
</div>

<section id="main">


    <div class="section-2 ad-block-main">
        <div class="container">
            <div id="primary_add">
                <!--/*
  - Generated with Revive Adserver v4.0.2
  *
  */-->




            <!--<div class="col-md-3 col-sm-6 col-xs-6">
            <span class="x-icon"><i class="fa fa-cogs" aria-hidden="true"></i></span>
                <h5>Secure Payments</h5>
                <h6>Learn More</h6>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
            <span class="x-icon"><i class="fa fa-compass" aria-hidden="true"></i></span>
                <h5>uShip Guarantee</h5>
                <h6>Learn Morelista de su</h6>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
            <span class="x-icon"><i class="fa fa-crosshairs" aria-hidden="true"></i></span>
                <h5>Secure Payments</h5>
                <h6>lista de su</h6>
            </div>-->
        </div>
    </div>


    <div class="section-1">
        <div class="container">
            <div class="col-md-2 text-center"></div>
            {$functions->get_home_shipment()}
            {if $shipment_info}
            {section name=data loop=$shipment_info}
            <div class="col-md-1 text-center">
                <div class="home_top_box">
                    <div class="img-box">
                        {if $shipment_info[data].img!=''}
                        <a style="cursor:pointer; color:#337ab7;" onclick="submitbuy('{$shipment_info[data].id}',document.view_detail);">
                            <img class="img-responsive" src="{$site_url}/images/shipment_image/{$shipment_info[data].img}"/>
                        </a>
                        {else}
                        <a style="cursor:pointer; color:#337ab7;" onclick="submitbuy('{$shipment_info[data].id}',document.view_detail);">
                            <img src="{$site_url}/images/shipment_image/default.jpg" class="img-responsive">
                        </a>
                        {/if}
                    </div>
                    <div class="contanet">
                        <h5>{$shipment_info[data].title|truncate:18:'...'}</h5>
                        <p>{$shipment_info[data].description|truncate:15:'...'} </p>

                    </div>
                </div>
            </div>

            {/section}
            {/if}
            <div class="col-md-2 text-center"></div>
        </div>
    </div>


</section>

<section id="body">

    <div class="shipper" id="shipper">
        <div class="col-sm-3 home-adbar" id='add1space'>
            <ins data-revive-zoneid="28" data-revive-id="43422af75a9f9066297995789acc7f48"></ins>
            <script async src="//loadmatch.co.za/adserver/www/delivery/asyncjs.php"></script>
        </div>
        <div class="container home-container">
            <div class="col-sm-12">
                <section class="homepage-section slanted slantedBackgroundLeft flex-container and-smallAlignCenter">
                    <div class="imageWrapper fix_left">
                        <img src="{$site_url}/location_flage/{$sarvis_info[0].img}"/>
                    </div>
                    <div class="flex-item flex-small-12 flex-large-5 sectionContent">
                        <div class="contentWrapper">
                            <div class="side-box">

                                <h1>{$sarvis_info[0].name}</h1>
                                <p>{$sarvis_info[0].description}</p>
                            </div>

                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="col-sm-3 home-adbar">
            <ins data-revive-zoneid="29" data-revive-id="43422af75a9f9066297995789acc7f48"></ins>
            <script async src="//loadmatch.co.za/adserver/www/delivery/asyncjs.php"></script>
        </div>
    </div>

    <div class="carrier" id="carrier">
        <div class="col-sm-3 home-adbar">
            <ins data-revive-zoneid="30" data-revive-id="43422af75a9f9066297995789acc7f48"></ins>
            <script async src="//loadmatch.co.za/adserver/www/delivery/asyncjs.php"></script>
        </div>
        <div class="container home-container">
            <div class="col-sm-12">
                <section class="homepage-section slanted slantedBackgroundRight flex-container and-smallAlignCenter">
                    <div class="imageWrapper">
                        <img src="{$site_url}/location_flage/{$sarvis_info[1].img}"/>
                    </div>
                    <div class="flex-item flex-small-12 flex-large-5 sectionContent">
                        <div class="contentWrapper qub-p">
                            <div class="side-box">

                                <h1>{$sarvis_info[1].name}</h1>
                                <p>{$sarvis_info[1].description}</p>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="col-sm-3 home-adbar">
            <ins data-revive-zoneid="31" data-revive-id="43422af75a9f9066297995789acc7f48"></ins>
            <script async src="//loadmatch.co.za/adserver/www/delivery/asyncjs.php"></script>
        </div>
    </div>


    <div class="business" id="business">
        <div class="col-sm-3 home-adbar">
            <ins data-revive-zoneid="32" data-revive-id="43422af75a9f9066297995789acc7f48"></ins>
            <script async src="//loadmatch.co.za/adserver/www/delivery/asyncjs.php"></script>
        </div>
        <div class="container home-container">

            <div class="col-sm-12">

                <section class="homepage-section slanted slantedBackgroundLeft flex-container and-smallAlignCenter">

                    <div id="add1">
                        <h1>this is space for add one</h1>
                    </div>

                    <div class="imageWrapper fix_left">
                        <img src="{$site_url}/location_flage/{$sarvis_info[2].img}"/>
                    </div>
                    <div class="flex-item flex-small-12 flex-large-5 sectionContent">
                        <div class="contentWrapper">
                            <div class="side-box">

                                <h1>{$sarvis_info[2].name}</h1>
                                <p>{$sarvis_info[2].description}</p>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="col-sm-3 home-adbar">
            <ins data-revive-zoneid="33" data-revive-id="43422af75a9f9066297995789acc7f48"></ins>
            <script async src="//loadmatch.co.za/adserver/www/delivery/asyncjs.php"></script>
        </div>

    </div>
</section>


<div class="section-2">
    <div class="container">
        <div class="col-md-4">
            <span class="numb">3.5M</span>
            <h6 class="nub-text">Customers</h6>
        </div>


        <div class="col-md-4">
            <span class="numb">788000</span>
            <h6 class="nub-text">Transporters</h6>
        </div>

        <div class="col-md-4">
            <span class="numb">5.7M</span>
            <h6 class="nub-text">Listings</h6>
        </div>
    </div>
</div>


<div class="yo-section">
    <div class="container">
        <div class="col-md-9">
            <h2>South Africa’s only and largest all-inclusive transport services platform.</h2>
        </div>
        <div class="col-md-3">
            <h2><a href="#/">Solutions for Africa. </a></h2>
        </div>
    </div>
</div>

<div class="bg-lg4">
    <div id="home-services">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        Leading the virtual market with vehicle and freight exchange services in South Africa.
                    </h2>
                </div>
                <!-- service end -->
                {section name=data loop=$testimonial_info}
                <div class="col-md-3">
                    <div class="h-service">
                        <div class="icon-wrap ico-bg round-fifty wow fadeInDown animated"
                             style="visibility: visible; animation-name: fadeInDown;"
                             data-wow-animation-name="fadeInDown">
                            <i class="fa fa-users">
                            </i>
                        </div>
                        <div class="h-service-content wow fadeInUp animated"
                             style="visibility: visible; animation-name: fadeInUp;" data-wow-animation-name="fadeInUp">
                            <h3>
                                {$testimonial_info[data].name}

                            </h3>
                            <p>
                                {$testimonial_info[data].description}
                                <br>

                            </p>
                        </div>
                    </div>
                </div>
                {/section}
            </div>
            <!-- /row -->
        </div>
    </div>
    <!-- END CLIENTS -->
</div>