<div id="page-wrapper" >
  <div id="page-inner">
    <div class="row">
      <div class="col-md-12">
        <h2> Edit Slider</h2>
      </div>
    </div>
    <!-- /. ROW  -->
    <hr />
    <div class="row">
      <div class="col-md-12"> 
        <!-- Form Elements -->
        <div class="panel panel-default">
          <div class="panel-heading"> Edit Slider
         
          
          
          </div>
          <div class="panel-body">
           <label  style="color:red; text-align:center;">{$massage}</label>
            <div class="row">
           
              <div class="col-md-8"> 
                
                <!--===============customer form======================-->
                <form role="form" name="company" id="company" action="" method="post"  enctype="multipart/form-data">
                {if $edit_id==''}
               {section name=data loop=$usersdata}
                    <div class="form-group">
                    <label> Slider {$usersdata[data].id} &nbsp;&nbsp;&nbsp;&nbsp;</label>
                   <img src="{$site_url}/images/slider/{$usersdata[data].image_path}" width="100px" height="100px" style="border:2px solid #999;" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <a href="{$site_url}/admin.php?page=add_banner&action=add_slider&edit_id={$usersdata[data].id}">Edit <i class="fa fa-pencil-square-o"></i></a>
                   </div>
                    {/section}
                   {/if}
                   {if $edit_id!=''}
                  <div class="form-group">
                    <label>Edit Slider: {$edit_id}  </label>
                   <div style="text-align:right;"> {if $usersdata1[0].image_path!=''}
               <img src="{$site_url}/images/slider/{$usersdata1[0].image_path}" width="150px" height="150px" style="border:2px solid #999;" />
               {/if}
               </div> 
                   </div>
                  <div class="form-group" style="margin-top:-120px;">
                    <label>Select Slider Image</label>
                   <input type="file" name="logo"  id="logo"/>
                   {if $usersdata1[0].id=='1'}  <label>size must be(300*477)</label></br>{/if}
                   {if $usersdata1[0].id=='2'}  <label>size must be(430*334)</label></br>{/if}
                   {if $usersdata1[0].id=='3'}  <label>size must be(412*453)</label></br>{/if}
                   {if $usersdata1[0].id=='4'}  <label>size must be(1800*550)</label></br>{/if}
                   <input type="hidden" name="old_main_img" value="{$usersdata1[0].image_path}" />
                   
              
                    </div>
                      <div class="form-group">
                    <label>Title </label>
                   <input type="text" name="title" id="" value="{$usersdata1[0].title}" class="form-control"/>
                   </div>
                    
                       <div class="form-group">
                    <label>Keyword </label>
                   <input type="text" name="keyword" id="" value="{$usersdata1[0].keyword}" class="form-control"/>
                   </div>
                  <button type="submit" class="btn btn-primary" name="company_btn" value="add_new_customer" onclick="return add_valid_comapny(document.company);">  Update Slider</button>
                  {/if}
                </form>
                <!--==================================================--> 
                
              </div>
            </div>
          </div>
        </div>
        <!-- End Form Elements --> 
      </div>
    </div>
    <!-- /. ROW  --> 
    
    <!-- /. ROW  --> 
  </div>
  <!-- /. PAGE INNER  --> 
</div>
