<div id="page-wrapper" >
  <div id="page-inner">
    <div class="row">
      <div class="col-md-12">
                        
            <h1 class="page-header">{if $edit_id!=''}Update {else}Add {/if} Service
                     </h1>
       </div>
    </div>
    <!-- /. ROW  -->
   
    <div class="row">
      <div class="col-md-12"> 
        <!-- Form Elements -->
        <div class="panel panel-default">
          <div class="panel-heading">
        <b>{if $edit_id!=''}Update {else}Add {/if} service</b>
         
 </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-8"> 
        {if $sucess!=''}
               
    				 <div class="notibar msgsuccess">
                        <a class="close"></a>
                        <p>Service Added Sucessfully</p>
                    </div><!-- notification msgsuccess -->
                  
                {/if} 
        <form class="stdform stdform2" name="frm_addcountry" id="frm_addcountry" method="post" action="" enctype="multipart/form-data">
        <input type="hidden" name="edit_id" value="{$edit_id}" />  
         <input type="hidden" name="old_country_name" value="{$edit_data[0].country}" />  
                    
                    	 <div class="form-group">
                        	<label>service Name</label> <span  class="error_alert"></span>
                              
                             <input type="text" name="service_name" id="alert_name" value="{$usersdata[0].name}" class="form-control" placeholder="Enter the service Name" required />
            
                          </div> 
                    
                         
                         <div class="form-group">
                        	<label>Image</label><span class="error_alert"></span> 
                          
                              <input type="file" name="image" id="alert_image" class="form-control" value="{$usersdata[0].img}" placeholder="Enter the image"  />
                             {if $useredit[0].img!=''}
                          <img src="{$site_url}/location_flage/{$usersdata[0].img}" height="80" width="100" />
                            {/if}
                           <input type="hidden" name="image_old"  value="{$usersdata[0].img}" />
                           
                      </div>
                           
                    
                        <div class="form-group">
                        	<label>Description</label> <span  class="error_alert"></span>
                           
                            <textarea name="description" id="alert_description" class="form-control" placeholder="Enter the description"  required />{$usersdata[0].description}</textarea>
                           
                       </div>
                       
                        
                        
                        
                     
                        
                            <button type="submit"  name="submit" value="Submit"  class="btn btn-default">{if $edit_id==''}Submit{else}Update{/if}</button>
                           
                       
                    </form>
 			     
              </div>
            </div>
          </div>
        </div>
        <!-- End Form Elements --> 
      </div>
    </div>
    <!-- /. ROW  --> 
    
    <!-- /. ROW  --> 
  </div>
  <!-- /. PAGE INNER  --> 
</div>