<div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>{if $id==''}Add Notice{else}Edit Notice {/if} </h2>
                    
                    </div>
                </div>
                 <!-- /. ROW  -->
                 <hr />
               
            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           <h3>{if $id==''}Add Notice{else}Edit Notice {/if}</h3>
                           
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
          <form id="form" name="add_mails" class="form widget" action="{$site_url}/admin.php?page=mails&action=add_notice" enctype="multipart/form-data" method="post" >
            <header>
              <h2> </h2>
            </header>
            <section>
              <fieldset>
              <input name="id" type="hidden" value="{$mailsdata[0].id}" />
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td colspan="4"  height="10"></td>
                  </tr>
                  <tr>
                    <td>Subject *</td>
                    <td width="5%">:</td>
                    <td><input type="text" name="subject"  size="50" value="{$mailsdata[0].heading}" /></td>
                    <td ><span id="alert_name" style="color:#FF0000;"> </span></td>
                  </tr>
                  
                   <tr>
                    <td colspan="4"  height="10"></td>
                  </tr>
                  <tr>
                    <td>Message *</td>
                    <td width="5%">:</td>
         <td width="700"><textarea name="message" class="ckeditor" style="width:700px;">{$mailsdata[0].content}</textarea><div id="msg_info" class="alert"></div></td>
                    <td><span id="alert_msg" style="color:#FF0000;"> </span></td>
                  </tr>
                </table>
              </fieldset>
              <hr />
              <button class="button button-green" type="submit" name="submit" onclick="return Valid_add_mails(document.add_mails);">Submit</button>
              <button class="button button-gray" type="reset">Reset</button>
            </section>
          </form>
       </div>
                            
                        </div>
                    </div>
                
                </div>
            </div>
              
        </div>
               
    </div>


