{if $page neq 'home' && $page neq 'login'}
<td width="151" valign="top">
<div id="left-column">
    {if $page eq '2121212121'}
        <h3>Users</h3>
        <ul class="nav">
            <li><a href="admin.php?page=users&action=list&show=normal">Normal</a></li>
            <li><a href="admin.php?page=users&action=list&show=manager">Powerleveler</a></li>
            <li><a href="admin.php?page=users&action=list&show=admin">Administrator</a></li>
            <li class="last"><a href="admin.php?page=users&action=list&show=moderator">Moderator</a></li>
        </ul>
    {/if}
    
</div>
</td>
{/if}
<td valign="top">