{if $smarty.session.adminUserId=='0'}
  <section class="container1">
    <div class="login" style="margin-top:15%">
      <h1>{$company_name}</h1>
     <h4 align="center" style="color:#F00;">{$massage}</h4>
      <form method="post" action="admin.php?page=user&action=login" name="loginform">
        <p><input type="text" name="user_name" value="" placeholder="Username"></p>
        <p><input type="password" name="password" value="" placeholder="Password"></p>
        <p class="remember_me">
          <label>
            <input type="checkbox" name="remember_me" id="remember_me">
            Remember me on this computer
          </label>
        </p>
        <p class="submit"><input type="submit" name="submit" value="Login"></p>
      </form>
    </div>

   
  </section>
{/if}
 
