{if $smarty.session.adminUserId neq '0'}
<aside class="grid_2 top">

                    <!--<div class="accordion">

                        <header class="current"><h2>Your Account: Free Trial</h2></header>
                        <section style="display:block">
                            <dl>

                                <dt>Bandwidth: 10000/100000 MB</dt>
                                <dd><div class="progress progress-green"><span style="width: 10%;"><b>10%</b></span></div></dd>
                                <dt>Storage: 500/1000 MB</dt>
                                <dd><div class="progress progress-green"><span style="width: 50%;"><b>50%</b></span></div></dd>
                                <dt>Users: 3/5</dt>
                                <dd><div class="progress progress-orange"><span style="width: 60%;"><b>60%</b></span></div></dd>
                                <dt>Emails Sent: 900/1000</dt>
                                <dd><div class="progress progress-red"><span style="width: 90%;"><b>90%</b></span></div></dd>

                            </dl>
                        </section>

                        <header><h2>Second pane</h2></header>
                        <section>... pane content ...</section>

                        <header><h2>Third pane</h2></header>
                        <section>... pane content ...</section>

                    </div>-->

                </aside>
{/if}
 <div class="clear"></div>