<div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>Message Detail</h2> 
                     
                    </div>
                </div>
  
               
            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                         <b> Message Detail</b>
                                                   
                        </div>
                       
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered ">
                                    <tbody>
                                        <tr>
                                                      
                                        	<th width="15%">Name</th>
                                            <td>{$userdata[0].name}</td>
                                            </tr>
                                            <tr>
                                          <th>Email</th>
                                            <td>{$userdata[0].email}</td>
                                            </tr>
                                            <tr>
                                              <th>Mobile</th>
                                            <td>{$userdata[0].mobile}</td>
                                            </tr>
                                            <tr>
                                            <th>Subject</th>
                                            <td>{$userdata[0].subject}</td>
                                        </tr>
                                        <tr>
                                             
                                              <th>Message</th>
                                            <td>{$userdata[0].message}</td>
                                           
                                        </tr>
                                        
                                    </tbody>
                                    
                                </table>
                            </div>
                            
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
                <!-- /. ROW  -->
            
                <!-- /. ROW  -->
            
             
        </div>
               
    </div>