/*

*/
@font-face {
    font-family: 'Pragati Narrow', sans-serif;
    font-family: 'Anton', sans-serif;
    font-family: 'Barlow Condensed', sans-serif;

}
body {
    padding-top: 0px;   
    font-family: 'Pragati Narrow', sans-serif !important;
    font-size: 16px; 
    font-weight: normal;
    background-color: #34495e;
}
.linespace{
    margin-top: 10px;
}
.linespace20{
    margin-top: 20px;
}
.no-padding > [class*='col-'] {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
/*
Navbar
*/

/* 
Headers
*/

h1{
 font-family: 'Pragati Narrow', sans-serif;
 /*font-size: 28px;*/
 font-weight: bold;
}
h2{
 font-family: 'Pragati Narrow', sans-serif;
 font-size: 26px;
}
h3{
 font-family: 'Pragati Narrow', sans-serif;
 font-size: 24px;
}
h4{
 font-family: 'Pragati Narrow', sans-serif;
 font-size: 22px;
}
h5{
 font-family: 'Pragati Narrow', sans-serif;
 font-size: 20px;
}
/*
Container
Full width
*/
.container-dark {
    background: #34495e !important;
    color: #FFFFFF;
}
.container-light {
    background: #fff;
    color: #000;

}
.container-gray {
    background-color: #eaecf0;
    color: #000;

}
.container-blue{
    background-color: #00b3e7;
    color: #ffffff; 
}
container-blue a{
     color: #ffffff;    
}
.container-blue50{
    background-color: #00b3e7;
    color: #ffffff; 
    padding-top: 50px;
    padding-bottom: 50px;

}
/*

Navbar Style
*/
.navbar-light .navbar-brand >img {
  height: 40%;
  width: auto;
}
/*
Cards  
*/
.card-img-top {
    width: 100%;
}
.card-header{
    font-family: 'Pragati Narrow', sans-serif;
    font-size: 10px;

       
}

.card-header a {
    color: #000;    
}
.card-block ul {
list-style-position: inside;
}
.card-link {
    position: relative;
}
/*
breadcrumbs
*/
.breadcrumbs {
    background: #34495e;
    color: #fff;
    font-family: 'Anton', sans-serif  !important ;
}
.breadcrumb {
    margin-bottom: 0;
    background: none;
    display: none;
}
.breadcrumb li a { 
    color: #34495e !important;
}
.breadcrumb li.active { 
    color: #fff; 
}
.breadcrumbs h1 {
    margin: 0px 0 0;
    text-transform: uppercase;
    padding-bottom: 21px;
    padding-left: -10%;
    padding-left: 0%;
    /* float: right; */
}


/*
Image
*/
.imageopacity {
 opacity: 0.2;
 filter: alpha(opacity=20); /* For IE8 and earlier */    
    
}
/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 19px;
    width: 50%;
    color: #fff;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height:410px;
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 415px;
}


/*
Counters
*/
.site-counter
{
    background-color: #eaecf0;
    text-align: center;
}
.customers-count,.transporters-count,.listings-count
{
    margin-top: 20px;
    margin-bottom: 20px;
}
.counter-count
{
    font-size: 18px;
    background-color: #00b3e7;
    border-radius: 50%;
    position: relative;
    color: #ffffff;
    text-align: center;
    line-height: 92px;
    width: 92px;
    height: 92px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
}

.customers-p,.transporters-p,.listings-p
{
    font-size: 24px;
    color: #000000;
    line-height: 30px;
}

/*
.h-service
*/
.round-fifty {
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    margin-left: 40%;
    margin-top: -25px;
}
.icon-wrap {
    color: #fff;
    float: left;
    font-size: 2em;
    height: 60px;
    line-height: 60px;
    margin-right: 30px;
    text-align: center;
    width: 60px;

}
.ico-bg {

    background: #34495e none repeat scroll 0 0;

}
.h-service {
    border: 1px solid #eee;
    margin-bottom: 25px;
    background-color: #eaecf0;
    
}
.h-service-content h3 {
    padding-top: 40px;
    text-align: center;
}
.h-service-content p {
    text-align: center;
    padding: 5px 21px 20px;
}
.h-service-content a {
    color: #e74c3c;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.h-service-content a:hover { 
    color: #0083bb; 
}

/*
Footer
*/
.footer {
    background: #0083bb;
    color: #fff;
    padding: 20px 0;
    display: inline-block;
    width: 100%;

}
.footer h4 {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 0px;
}
.footer address a { color: #fff }
.social-link-footer li {
    float: right;
    margin: 5px 10px -45px 0px;
    padding-bottom: 5px;
}
.social-link-footer li a {
    color: #fff;
    background: #505b71;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    float: left;
    text-align: center;
    font-size: 20px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.social-link-footer li a:hover {
    background: #0083bb;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.copyright {
    color: #fff;
    padding-top: 15px;
}
.page-footer { padding: 0% 13% }
.page-footer h1 { padding-left: 4% }
ul.page-footer-list {
    list-style: none;
    padding: 0px 10px;
}
ul.page-footer-list li {
    line-height: 35px;
    border-bottom: 1px dashed #636F79;
}
ul.page-footer-list a { color: #fff }
ul.page-footer-list li i { padding-right: 10px }
.footer-small {
    background-color: #2C3E50;
    margin-top: -6px;
    padding-top: 0px;
}
.text-footer {
    padding-left: 10px;
    margin-left: 10px;
}
.text-footer p { text-align: left }
/* Test */


/* equal card height */
.row-equal > div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}

.row-equal .card {
   width: 100%;
}

/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active, 
.carousel-inner>.row-equal.next, 
.carousel-inner>.row-equal.prev {
    display: flex;
}

/* prevent flicker during transition */
.carousel-inner>.row-equal.active.left, 
.carousel-inner>.row-equal.active.right {
    opacity: 0.5;
    display: flex;
}


/* control image height */
.card-img-top-250 {
    max-height: 250px;
    overflow:hidden;
}