<div id="page-wrapper" >
  <div id="page-inner">
    <div class="row">
      <div class="col-md-12">
        <h2>Service Charge</h2>
      </div>
    </div>
    <!-- /. ROW  -->
    <hr />
    <div class="row">
      <div class="col-md-12"> 
        <!-- Form Elements -->
        <div class="panel panel-default">
          <div class="panel-heading">Service Charge
         
          
          
          </div>
          <div class="panel-body">
           <label  style="color:red; text-align:center;">{$massage}</label>
            <div class="row">
           
              <div class="col-md-8"> 
                
                <!--===============customer form======================-->
                <form role="form" name="company" id="company" action="" method="post"  enctype="multipart/form-data">
               
                    <div class="form-group">
                    <label> Add Currency</label>
                    <input class="form-control" type="text" name="add_currency" id="alert_add_currency" value="" />
                    </br>
                    <input type="submit" class="btn btn-primary" name="submit" onclick="return add_valid_comapny(document.company);">
                   </div>
                   
                    <div class="form-group">
                    <label>Service Charge </label>
                    ON
                    <input {if $usersdata[0].on_off=='ON' } checked="checked" {/if} type="radio" name="package_on" value="ON"/>
                    OFF <input {if $usersdata[0].on_off=='OFF'} checked="checked" {/if} type="radio" name="package_on" value="OFF" />
                   </div>
                  <div class="form-group">
                    <label>Service Charge ( For Customer on Add Shipment)</label>
                    <input class="form-control" type="text" name="package_price" id="alert_package_price" value="{$usersdata[0].price}" />
                   </div>
                  <div class="form-group">
                    <label>Set Currency</label>
                   <select name="set_currency" id="set_currency" class="form-control">
                    <option value="please Select" selected="selected" >Please Select</option>
      				{section name=data loop=$usersdata1}
                        
                    <option value="{$usersdata1[data].curname}" {if $usersdata1[data].curname==$usersdata[0].currency} selected="selected"{/if} >{$usersdata1[data].curname} </option>
                  {/section}
                   
                   
                   </select>
                    </div>
                 
                    
                      
                  <button type="submit" class="btn btn-primary" name="company_btn" value="add_new_customer" onclick="return add_valid_comapny(document.company);">  Update Package</button>
                </form>
                <!--==================================================--> 
                
              </div>
            </div>
          </div>
        </div>
        <!-- End Form Elements --> 
      </div>
    </div>
    <!-- /. ROW  --> 
    
    <!-- /. ROW  --> 
  </div>
  <!-- /. PAGE INNER  --> 
</div>
