<div id="page-wrapper" >
  <div id="page-inner">
    <div class="row">
      <div class="col-md-12">
        <h2> Social Setting</h2>
      </div>
    </div>
    <!-- /. ROW  -->
    <hr />
    <div class="row">
      <div class="col-md-12"> 
        <!-- Form Elements -->
        <div class="panel panel-default">
          <div class="panel-heading"> Social Setting
         
          
          
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-8"> 
               <form role="form" name="company" id="company" action="" method="post"  enctype="multipart/form-data">
              <table class="no-style full">
                <tbody>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td width=""><strong>Facebook</strong></td>
                    <td class=""><table width="100%" border="0" cellspacing="2" cellpadding="2">
                        <tr>
                          <td width="50"><input type="radio" name="facebook_radio" {if $social[0].facebook_radio=='Y'} checked="checked"{/if} value="Y"  />
                            On</td>
                          <td><input type="radio" name="facebook_radio"  value="N" {if $social[0].facebook_radio=='N'} checked="checked"{/if}  />
                            Off</td>
                        </tr>
                      </table></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>Creat Your Facebook Page</br> <a href="http://www.facebook.com" target="_blank">Signup Now</a></td>
                    <td><input type="text" name="facebook" value="{$social[0].facebook}" class="form-control"  />
                      &nbsp; Enter Your Facebook Fanpage Name</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td width=""><strong>Twitter</strong></td>
                    <td class=""><table width="100%" border="0" cellspacing="2" cellpadding="2">
                        <tr>
                          <td width="50"><input type="radio" name="twitter_radio" value="Y" {if $social[0].twitter_radio=='Y'} checked="checked"{/if}   />
                            On</td>
                          <td><input type="radio" name="twitter_radio" value="N" {if $social[0].twitter_radio=='N'} checked="checked"{/if}  />
                            Off</td>
                        </tr>
                      </table></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>Creat Your Twitter Progile </br><a href="http://www.twitter.com" target="_blank">Signup Now</a></td>
                    <td><input type="text" name="twitter" value="{$social[0].twitter}" class="form-control"  />
                      &nbsp; Enter Your Twitter Profile Name</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td width=""><strong>Youtube</strong></td>
                    <td class=""><table width="100%" border="0" cellspacing="2" cellpadding="2">
                        <tr>
                          <td width="50"><input type="radio" name="youtube_radio" value="Y" {if $social[0].youtube_radio=='Y'} checked="checked"{/if} />
                            On</td>
                          <td><input type="radio" name="youtube_radio" value="N" {if $social[0].youtube_radio=='N'} checked="checked"{/if} />
                            Off</td>
                        </tr>
                      </table></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>Creat Your Youtube Chanel</br> <a href="http://www.youtube.com" target="_blank">Signup Now</a></td>
                    <td><input type="text" name="youtube" value="{$social[0].youtube}"  class="form-control" />
                      &nbsp; Enter Your Facebook Fanpage Name</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                </tbody>
              </table>
          
      
      <!--<form id="form" name="registration" class="form widget" action="{$site_url}/admincontrol.php?page=user&action=add_user" method="post" enctype="multipart/form-data">-->
      
      <input type="submit" class="btn btn-primary" name="submit" id="submit">
    </form>
    
        
              </div>
            </div>
          </div>
        </div>
        <!-- End Form Elements --> 
      </div>
    </div>
    <!-- /. ROW  --> 
    
    <!-- /. ROW  --> 
  </div>
  <!-- /. PAGE INNER  --> 
</div>
