<div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>Review Detail</h2> 
                     
                    </div>
                </div>
  
               
            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                         <b>Review Detail</b>
                                                   
                        </div>
                       
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <tbody>
                                        <tr>
                                                      
                                        	<th>Customer Name</th>
                                            <td>{$functions->get_name($userdata[0].user_id)}</td>
                                          <th>Email Address</th>
                                            <td>{$functions->get_email($userdata[0].user_id)}</td>
                                            </tr>
                                            <tr>
                                              <th>Mobile</th>
                                            <td>{$functions->get_mobile($userdata[0].user_id)}</td>
                                            <th>Entery Date</th>
                                            <td>{$userdata[0].date}</td>
                                        </tr>
                                        <tr>
                                             
                                              <th>Review</th>
                                            <td>{$userdata[0].review}</td>
                                            <th></th>
                                            <td></td>
                                        </tr>
                                        
                                    </tbody>
                                    
                                </table>
                            </div>
                            
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
                <!-- /. ROW  -->
            
                <!-- /. ROW  -->
            
             
        </div>
               
    </div>