<nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{$site_url}/admin.php?page=admin_home&action=admin_home">{$company_name}</a> 
            </div>
  <div style="color: white;
padding: 15px 50px 5px 50px;
float: right;
font-size: 16px;"> 

 
<a href="" class="btn btn-default btn" style="margin-left:-10%" onclick="window.history.back();">Back</a>
<!--Last access : 30 May 2014 &nbsp;-->&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="{$site_url}/admin.php?page=user&action=logout" class="btn btn-danger square-btn-adjust">Logout</a> 

</div>

        </nav>
