<div id="page-wrapper" >
  <div id="page-inner">
    <div class="row">
      <div class="col-md-12">
        <h2> Payment Gateway Setting</h2>
      </div>
    </div>
    <!-- /. ROW  -->
    <hr />
    <div class="row">
      <div class="col-md-12"> 
        <!-- Form Elements -->
        <div class="panel panel-default">
          <div class="panel-heading"> Payment Gateway Setting
         
          
          
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-8"> 
                
                <!--===============customer form======================-->
                <form role="form" name="company" id="company" action="" method="post"  enctype="multipart/form-data">
                  <input type="hidden" name="edit_id" id="edit_id" value="{$edit_id}" />
                  <input type="hidden" name="edit_mobile" id="edit_mobile" value="{$edit_query_data[0].customer_mobile}" />
                  <div class="form-group">
                    <label>Paypal</label>
                    ON
                    <input {if $data3[0].paypal_on=='Y' || $data3[0].paypal_on=='' } checked="checked" {/if} type="radio" name="paypal_on" value="Y"/>
                    OFF <input {if $data3[0].paypal_on=='N'} checked="checked" {/if} type="radio" name="paypal_on" value="N" />
                   </div>
                  <div class="form-group">
                    <label>Paypal Email</label>
                    <input class="form-control" value="{$data3[0].paypal_email}" type="text" name="paypal_email" placeholder="Enter Company Email " />
                    </div>
                     <div class="form-group">
                    <label > </label>
                   
                   </div>
                 
                  <!--    <div class="form-group">
                    <label > 2CheckOut Detail</label>
                    ON<input {if $data3[0].checkout_on=='Y' || $data3[0].checkout_on=='' } checked="checked" {/if} type="radio" name="checkout_on" value="Y" />
                    OFF<input {if $data3[0].checkout_on=='N'} checked="checked" {/if} type="radio" name="checkout_on" value="N" />
                   </div>
                      <div class="form-group">
                    <label > 2CheckOut Id</label>
                    <input class="form-control" value="{$data3[0].checkout_id}" type="text" name="checkout_id" />
                   </div>
                   
                    <div class="form-group">
                    <label > </label>
                   
                   </div>
                   
                     <div class="form-group">
                    <label > Wire Transfer</label>
                   ON <input {if $data3[0].wire_on=='Y' || $data3[0].wire_on=='' } checked="checked" {/if} type="radio" name="wire_on" value="Y" />
                   OFF<input {if $data3[0].wire_on=='N'} checked="checked" {/if} type="radio" name="wire_on" value="N" />
                   </div>
                   
                    <div class="form-group">
                    <label >Add Bank Details</label>
                  <textarea  class="ckeditor"style="width:700px;" name="wire_bank"  />
                  {$data3[0].wire_bank} 
                  </textarea>
                   </div>-->
                  
                 
                
                 <input type="submit" class="btn btn-primary" name="submit" id="submit"></button>
                </form>
                <!--==================================================--> 
                
              </div>
            </div>
          </div>
        </div>
        <!-- End Form Elements --> 
      </div>
    </div>
    <!-- /. ROW  --> 
    
    <!-- /. ROW  --> 
  </div>
  <!-- /. PAGE INNER  --> 
</div>
