<div class="header-top">
	<div class="container">
    	<div class="top-bar">
        	
        </div>
    </div>
</div>
<div class="inner-header">
    <div class="container-fluid">
    <div class="row set_head_row">
        <nav class="navbar navbar-default top-nav">
                <div class="container-fluid-1">
                  <div class="navbar-header">
                    <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                   <!-- <div class="logo">
                    <a href="{$site_url}/index.html"><img class="img-responsive" src="{$site_url}/images/{$logo}" alt="" /></a>
                    </div>-->
                  </div>
                  <div class="navbar-collapse collapse" id="navbar">
                     <a href="{$site_url}/index.html"><img src="{$site_url}/images/{$logo}" alt="" /></a>
                    <ul class="nav navbar-nav navbar-right new-right">
                        
                     <li><span class="sr-only">(current)</span></li>
                     <!-- <li><a href="{$site_url}/index.html">Home<span class="sr-only">(current)</span></a></li>-->
                      <li><a href="{$site_url}/about.html"> About Us</a></li>
                      <li><a href="{$site_url}/search_shipping.html"> Subscriptions</a></li>
                        {if $smarty.session.user_id==''}
                         <!--{$page}//{$action}//-->
                      <li  class="dropdown"><a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle"  href="#/">Login <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                      
                          <li><a href="{$site_url}/login.html">Login</a></li>
                          <li><a href="{$site_url}/registration.html">Registration</a></li>
                        </ul>
                      </li>
                      {else}
                      <!--{$page}//{$action}-->
                      <li  class="dropdown"><a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle"  href="#/">My Account <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="profile.html">Profile</a></li>
                          <li><a href="inbox.html">Inbox</a></li>
                          {if $smarty.session.user_type=='C'}
                            <li><a href="my_post_job.html">My Shipments</a></li>{/if}
                          {if $smarty.session.user_type=='T'} <li><a href="my_post_job.html">Active Shipment</a>  {/if}</li>
                          <li><a href="booked.html">Booked Shipment</a></li>
                          <li class="divider" role="separator"></li>
                          <li><a href="booked_complete.html">Completed Shipment</a></li>
                          <li><a href="canceled.html">Canceled Shipment</a></li>
                          <li><a href="logout.html">Logout</a></li>
                        </ul>

                      </li>
                      {/if}
                      <li>
                      <a href="{$site_url}/post_shipping.html">New Shipment</a>
                      </li>
                      <li><a href="{$site_url}/search_shipping.html"> Available Loads</a></li>
                    
                      <li><a href="{$site_url}/search_shipping.html"> Classifieds</a></li>
                      <li  class="dropdown"><a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle"  href="#/">Services <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="{$site_url}/search_shipping.html"> Loadmatch Partners</a></li>
                        <li><a href="{$site_url}/search_shipping.html"> Insurance</a></li>
                        <li><a href="{$site_url}/search_shipping.html"> Group Benefits</a></li>
                        <li><a href="{$site_url}/search_shipping.html"> Jobs</a></li>
                       </ul>
                       
                      <li><a href="{$site_url}/search_shipping.html"> Tools</a></li>
                      <li><a href="contact.html">Contact </a></li>
                      <!--{if $smarty.session.user_type!='T'}
                      {/if}-->
                      {if $smarty.session.user_id!=''}
                  <li><a href="#">{if $smarty.session.user_type=='C'} <img src="{$site_url}/images/user.png" width="20" height="20" /> Customer {/if} {if $smarty.session.user_type=='T'}<img src="{$site_url}/images/agent.png" width="20" height="20" /> Transporter {/if}</a></li>
              {/if}
                    </ul>
                  </div><!--/.nav-collapse -->
                </div><!--/.container-fluid -->
              </nav>
              </div>
    </div>
</div>
<!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAV7Xhe7eWHw-z-e2zJcnSc4QiCcfYabHA&libraries=places"></script>--!
<!-- Navbar End -->

 