 <!-- Sequence Modern Slider -->
{*<div id="da-slider" class="da-slider" style="background-image:url({$site_url}/images/slider/{$functions->get_slider_home('b')});">
{$functions->get_slider_home('s')}
 {if $slider_info}
                {section name=data loop=$slider_info}
            <div class="da-slide text_shedow" style="background-image:url(img/parallax-slider/images/main-bg.jpg);">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
              <h2>
                <i class="text_shedow">{$slider_info[data].title}</i>
               <!-- <br>
                <i>RESPONSIVE</i>
                <br>
                <i>DESIGN</i>-->
              </h2>
              <p>
                <i>{$slider_info[data].keyword}</i>
               <!-- <br />
                <i>veniam omnis</i>-->
              </p>
             <!-- <a href="#" class="btn btn-info btn-lg da-link">
                Read more
              </a>-->
              <div class="da-img">
                <img src="{$site_url}/images/slider/{$slider_info[data].image_path}" alt="image01" />
              </div>
            </div>
          </div>
        </div>
      </div>
       {/section}
       {/if}

<!--
            <div class="da-slide">
            <div class="container">
        <div class="row">
          <div class="col-md-12">
        <h2>
          <i>RESPONSIVE VIDEO</i>
            <br />
          <i>SUPPORT AND</i>
            <br />
          <i>MANY MORE</i>
        </h2>
        <p>
          <i>Lorem ipsum dolor amet</i>
            <br />
          <i>tempor incididunt ut</i>
        </p>
        <a href="#" class="btn btn-info btn-lg da-link">
          Read more
        </a>
        <div class="da-img">
          <img src="{$site_url}/templates/img/parallax-slider/images/3.png" alt="image01" />
        </div>
      </div>
          </div>
        </div>
      </div>


      <div class="da-slide">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
        <h2>
          <i>USING BEST WEB</i>
            </br>
          <i>SOLUTIONS WITH</i>
            </br>
          <i>HTML5/CSS3</i>
        </h2>
        <p>
          <i>Lorem ipsum dolor amet</i>
          <br />
          <i>tempor incididunt ut</i>
          <br />
          <i>veniam omnis </i>
        </p>
        <a href="#" class="btn btn-info btn-lg da-link">
          Read more
        </a>
        <div class="da-img">
          <img src="{$site_url}/templates/img/parallax-slider/images/1.png" alt="image01" />
        </div>
      </div>
      </div>
      </div>
      </div>-->

      <nav class="da-arrows">
        <span class="da-arrows-prev">
        </span>
        <span class="da-arrows-next">
        </span>
      </nav>
    </div> *}