  <!--breadcrumbs start-->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-4">
                    <h1> Shipment Quote</h1>
                </div>
                <div class="col-lg-8 col-sm-8">
                    <ol class="breadcrumb pull-right">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="#"> Shipment Quote </a></li>
                         <li><a href="{$site_url}/my_post_job.html">Back</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs end-->

   <div class="container">
      
        <div class="container mar-b-30">
            <div class="row">
        
          <h4>
          Shipment Quote
          </h4>
          <div class="contact-form">
              <div class="table-responsive">
              <form name="view_detail" method="post" action="{$site_url}/detail_shiping.html" id="view_detail">
              <table class="table table-bordered">
              
                <thead>
                  <tr>
                    <th>
                      Sr.no
                    </th>
                    <th>
                      Transporter
                    </th>
                    <th>
                     Quote Price({$functions->get_currency()})
                    </th>
                   
                    <th>
                     Payment Methods
                    </th>
                    <th>
                     Payment Accepted
                    </th>
                    <th>
                     Entery Date
                    </th>
                     <th>
                     Action
                    </th>
                  </tr>
                </thead>
                <tbody>
                {if $search}
                {section name=data loop=$search}
                  <tr>
                    <td>
                      {$smarty.section.data.index+$row_no+1}
                    </td>
                    <td>{$functions->get_name($search[data].agent_id)}
                   {*  <a onclick="view_agent_review('{$search[0].agent_id}',document.view_detail);" style="font-style:bold; color:#F00;cursor: pointer;"></a>*}
                    </td>
                    <td>
                     {$search[data].starting_price}
                    </td>
                   
                    <td>
                      {$search[data].payment_methods}
                    </td>
                    <td>
                      {$search[data].payment_accepted}
                    </td>
                    <td>
                      {$search[data].entery_date|date_format:"%d- %m -%Y"}
                    </td>
                    <td>
                    <input type="hidden" name="id"  value="{$search[data].id}" />
                     <a style="cursor:pointer;" onclick="submitbuy123('{$search[data].id}',document.view_detail);" class="btn btn-primary btn-sm"/>Show</a>
                     <input type="hidden" name="id"  value="{$search[data].id}" />
                     <a href="{$site_url}/trans_fedback-{$search2[0].transpoter_id}.html" class="btn btn-primary btn-sm"/>Show Transporter Feedback</a>
                    </td>
                  </tr>
                  {/section}
                  {else}
						<tr><td colspan="8" align="center">Record Not Found</td></tr>
					{/if}
                </tbody>
              </table>
           
            </form>
<form action="" method="post">
                <input type="hidden" name="pageval" id="pagevalid" value="{$page_val}" />{$show_pagi}</td></tr>
                </form>
          </div>
        </div>
     

    </div>
    <!--container end-->



          </div>

        </div>
      </div>
    </div>
    <!--container end-->