/////* pagination style */
//
//.pagi_big{ background-color:red;
//}
//.pagi_sm{ 
// width:20px; height:18px; cursor:pointer;
// border-style:none; padding-bottom:0px; margin-top:0px;
//}
//.pagi_ss{ background:url(../img/pagi_ss.gif) ;
//
// color: white; text-align:center; 
// border-style:none; padding-bottom:0px; margin-top:0px;
//}
