.top-nav {
	border: none;
	background: none;
	margin:0;
	padding:10px 0;
	
}

.top-nav   .navbar-nav > li > a {

}

.inner-header {
  
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
	box-shadow:0 3px 4px 0.08px rgba(0, 0, 0, 0.2);
}

.banner-slider {
    margin-top: 75px;
}

.logo {
	padding:0  15px;
	  background-color: #0083bb;
}

.section-2 {
    background-color: #1C2431;
    padding: 30px 0;
}


.x-icon {
    color: #fff;
    display: block;
    float: left;
    font-size: 50px;
    padding: 0 10px;
}

.section-2 h5 {
    color: #fff;
    font-size: 18px;
    margin-top: 21px;
}


.section-2 h6 {
    font-size: 16px;
	color: #0083BB;
}

.section-1 {
    padding: 30px 0;
}

.img-box {
    width: 106px;
	margin: 0 auto;
}

.section-1 h5 {
	font-size: 15px;
	font-weight: bold;
}

.side-box {
	padding:63px 15px;
}

.side-box h5 {
	margin-bottom: 10px;
}

.side-box h1 {
    border-bottom: 1px solid #ccc;
    font-size: 25px;
    margin: 0 0 20px;
    padding-bottom: 20px;
	font-weight:bold;
}

.side-box p {
	margin-bottom:67px;
}

.side-box  a {
	text-decoration: none;
}
.link {
    align-items: center;
    border-bottom: 4px solid #0083BB;
    color: inherit;
    display: inline-flex;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 5px;
}


.new-section{
    background-color: #f4f4f4;
}







.footer {
    background: #0083BB none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-weight: 300;
    padding: 50px 0;
    width: 100%;
}
.footer h1 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 0;
    text-transform: uppercase;
}
.footer address a {
    color: #48cfad;
}
.tweet-box {
    background: #505b71 none repeat scroll 0 0;
    border-bottom: 1px solid #636f79;
    border-radius: 1px;
    font-size: 14px;
    padding: 8px 15px;
}
.tweet-box::before {
    background-color: #505b71;
    border-color: #505b71;
    border-image: none;
    border-right: 1px none #505b71;
    border-style: none;
    content: "";
    display: block;
    height: 22px;
    left: 60px;
    position: absolute;
    top: 32px;
    transform: rotate(45deg);
    width: 22px;
}
.tweet-box a, .tweet-box i {
    color: #00adef;
}
.tweet-box a:hover {
    color: #48cfad;
}
.tweet-box i {
    float: left;
    font-size: 40px;
    margin-right: 15px;
}
.social-link-footer li {
    float: right;
    margin: 5px 10px 5px 0;
    padding-bottom: 5px;
}
.social-link-footer li a {
    background: #505b71 none repeat scroll 0 0;
    border-radius: 50px;
    color: #fff;
    float: left;
    font-size: 20px;
    height: 50px;
    padding: 10px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 50px;
}
.social-link-footer li a:hover {
    background: #48cfad none repeat scroll 0 0;
    transition: all 0.3s ease 0s;
}
.copyright {
    color: #fff;
    padding-top: 15px;
}
.page-footer {
    padding: 0 13%;
}
.page-footer h1 {
    padding-left: 4%;
}
ul.page-footer-list {
    list-style: outside none none;
    padding: 0 10px;
}
ul.page-footer-list li {
    border-bottom: 1px dashed #636f79;
    line-height: 35px;
}
ul.page-footer-list a {
    color: #fff;
}
ul.page-footer-list li i {
    padding-right: 10px;
}
.footer-small {
    background-color: #1C2431;
    margin-top: -6px;
    padding-top: 5px;
}
.text-footer {
    margin-left: 10px;
    padding-left: 10px;
}
.text-footer p {
    text-align: left;
}
.address p {
    margin-bottom: 10px;
    text-align: left;
}
.main-slider {
    background: #475168 none repeat scroll 0 0;
    color: #fff;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.slider-colored {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    position: relative;
    z-index: 1;
}
.slide_title {
    color: #48cfad;
    font-size: 35px;
    font-weight: 300;
    text-transform: uppercase;
}
.slide_subtitle {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding: 5px;
    text-transform: uppercase;
}
.slide_list_item {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding: 5px;
    text-transform: uppercase;
}
.slide_desc {
    color: #fff;
    font-size: 14px;
    font-weight: lighter;
    line-height: 24px;
}
.slide_desc_bordered {
    border-left: 3px solid #ddd !important;
    padding-left: 5px;
}
.slide_btn {
    background: #48cfad none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;
    padding: 15px 20px;
    text-transform: uppercase;
}
.slide_btn:hover, .slide_btn:focus {
    background: #16a085 none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;
    padding: 15px 20px;
    text-transform: uppercase;
}
.dark-text {
    color: #797d87;
}
.yellow-txt {
    color: #ffe582;
}


#home-services h2 {
    font-size: 25px;
    margin-bottom: 65px;
    margin-top: 45px;
    padding-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
}

.h-service {
    border: 1px solid #d3d3d3;
    margin-bottom: 25px;
}

.round-fifty {
    border-radius: 50px;
    margin-left: 40%;
    margin-top: -25px;
}

.ico-bg {
    background: #48cfad none repeat scroll 0 0;
}

#home-services .h-service-content h3 {
    padding-top: 40px;
    text-align: center;
}

.h-service-content p {
    padding: 5px 21px 20px;
    text-align: center;
}


.round-fifty {
    border-radius: 50px;
    margin-left: 40%;
    margin-top: -25px;
}
.ico-bg {
    background: #0083BB none repeat scroll 0 0;
}
.icon-wrap {
    color: #fff;
    float: left;
    font-size: 2em;
    height: 60px;
    line-height: 60px;
    margin-right: 30px;
    text-align: center;
    width: 60px;
}

/*new css*/



html {
    font-family: sans-serif;
}
body {
    margin: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden], template {
    display: none;
}
a {
    background-color: transparent;
}
a:active, a:hover {
    outline: 0 none;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b, strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
mark {
    background: #ff0 none repeat scroll 0 0;
    color: #000;
}
small {
    font-size: 80%;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0 none;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 1em 40px;
}
hr {
    box-sizing: content-box;
    height: 0;
}
pre {
    overflow: auto;
}
code, kbd, pre, samp {
    font-family: monospace,monospace;
    font-size: 1em;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button {
    overflow: visible;
}
button, select {
    text-transform: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
button[disabled], html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
input {
    line-height: normal;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="search"], input[type="text"] {
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0 none;
    padding: 0;
}
textarea {
    overflow: auto;
}
optgroup {
    font-weight: bold;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td, th {
    padding: 0;
}
@font-face {
    font-family: "LatoWeb";
    font-style: normal;
    font-weight: 400;
    src: url("/js/27bd77b9162d388cb8d4c4217c7c5e2a.woff") format("woff");
}
@font-face {
    font-family: "LatoWeb";
    font-style: normal;
    font-weight: 700;
    src: url("/js/d878b6c29b10beca227e9eef4246111b.woff") format("woff");
}
@font-face {
    font-family: "LatoWeb";
    font-style: normal;
    font-weight: 900;
    src: url("/js/f80bda6afd19534368443a3d0323a140.woff") format("woff");
}
@font-face {
    font-family: "LatoWeb";
    font-style: italic;
    font-weight: 400;
    src: url("/js/b55a319a718937231138c7d875361ff6.woff") format("woff");
}
@font-face {
    font-family: "LatoWeb";
    font-style: italic;
    font-weight: 700;
    src: url("/js/48a7ec8047b736f61b1b6cd3726777f2.woff") format("woff");
}
@font-face {
    font-family: "LatoWeb";
    font-style: italic;
    font-weight: 900;
    src: url("/js/6d1a6b38fac56769a3446eefc9bff5f5.woff") format("woff");
}
html, body {
    height: 100%;
}
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    color: #262626;
    font-family: "LatoWeb";
    font-size: 100%;
    letter-spacing: 0.025rem;
}
button {
    -moz-user-select: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    color: inherit;
    font-family: inherit;
    font-feature-settings: inherit;
    font-kerning: inherit;
    font-language-override: inherit;
    font-size: inherit;
    font-size-adjust: inherit;
    font-stretch: inherit;
    font-style: inherit;
    font-synthesis: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    color: #262626;
    font-family: "LatoWeb";
    margin: 0;
}
h1 {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}
h2 {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
}
h3 {
    font-size: 1.125rem;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
}
h4 {
    font-size: 0.6875rem;
    letter-spacing: 0.05rem;
    line-height: 1.125rem;
}
h5, h6 {
    font-size: 0.875rem;
    letter-spacing: 0.025rem;
    line-height: 2.25rem;
}
p {
    font-family: "LatoWeb";
    font-size: 1rem;
    letter-spacing: 0.025rem;
    line-height: 1.5;
    margin: 0 0 1.875rem;
}
a {
    color: #02aaf3;
    text-decoration: none;
}
a:hover, a:focus {
    color: #0288c2;
}
a:active {
    color: #0177aa;
}
.button {
    border-radius: 3px;
    border-style: solid;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.025rem;
    margin-bottom: 1.875rem;
    max-width: 100%;
    text-align: center;
    transition: background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, opacity 0.15s ease-in-out 0s;
}
.button-content {
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color 0.15s ease-in-out 0s;
    white-space: nowrap;
}
.button--small {
    border-width: 2px;
    height: 2.6875rem;
    min-width: 9.25rem;
    padding: 0 1.25rem;
}
.button--large {
    border-width: 3px;
    height: 3.125rem;
    min-width: 13.75rem;
    padding: 0 1.875rem;
}
.button--extraLarge {
    border-width: 3px;
    height: 3.125rem;
    min-width: 18.75rem;
    padding: 0 1.875rem;
}
.primaryButton {
    background-color: #00b437;
    border-width: 0;
    color: #ffffff;
}
.primaryButton:disabled {
    background-color: #b8b8b8;
    cursor: default;
    opacity: 0.7;
}
.primaryButton:hover:not(:disabled), .primaryButton:focus:not(:disabled) {
    background-color: #00902c;
}
.primaryButton:active:not(:disabled) {
    background-color: #007e26;
}
.secondaryButton {
    background-color: transparent;
    border-color: #00b437;
    color: #00b437;
}
.secondaryButton:disabled {
    background-color: transparent;
    border-color: #b8b8b8;
    color: #b8b8b8;
    cursor: default;
    opacity: 0.7;
}
.secondaryButton:hover:not(:disabled), .secondaryButton:focus:not(:disabled) {
    background-color: #00b437;
    border-color: #00b437;
    color: #ffffff;
}
.secondaryButton:active:not(:disabled) {
    background-color: #00902c;
    border-color: #00902c;
    color: #ffffff;
}
.tertiaryButton {
    background-color: #f4f4f4;
    border: medium none;
    font-size: 0.875rem;
    height: 3.125rem;
    min-width: 18.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    text-align: left;
    width: 100%;
}
.tertiaryButton:hover:not(:disabled), .tertiaryButton:focus:not(:disabled) {
    background-color: #dddddd;
}
.tertiaryButton:active:not(:disabled) {
    background-color: #b8b8b8;
}
.tertiaryButton:disabled {
    color: #999999;
    cursor: default;
    opacity: 0.7;
}
.tertiaryButton-icon {
    color: #02aaf3;
    margin-right: 0.625rem;
    vertical-align: middle;
}
.tertiaryButton-icon.is-disabled {
    color: #999999;
}
.tertiaryButton-label {
    display: inline-block;
    max-width: calc(100% - (1.5rem + 0.625rem));
    vertical-align: middle;
}
.buttonGroup {
    background-color: #02aaf3;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.875rem;
    margin-right: 1.875rem;
    padding: 1.5px;
    width: 100%;
}
.buttonGroupItem {
    background-color: #ffffff;
    border: medium none;
    border-radius: 0;
    color: #02aaf3;
    flex: 1 0 auto;
    height: 2.75rem;
    margin: 1.5px;
    min-width: 9.375rem;
}
.buttonGroupItem:focus {
    outline: medium none;
}
.buttonGroupItem.is-active {
    background-color: #02aaf3;
    color: #ffffff;
}
.buttonGroupItem:hover:not(.is-active), .buttonGroupItem:focus:not(.is-active) {
    color: #0288c2;
}
.buttonGroupItem:active:not(.is-active) {
    background-color: #0288c2;
    color: #ffffff;
}
.inlineButton {
    border: 0 none;
    color: #02aaf3;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    height: auto;
    letter-spacing: 0.1rem;
    margin-bottom: 0;
    max-width: 100%;
    min-width: inherit;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
    transition: color 0.15s ease-in-out 0s;
}
.inlineButton--small {
    font-size: 0.75rem;
}
.inlineButton--medium {
    font-size: 0.875rem;
}
.inlineButton--large {
    font-size: 1rem;
}
.inlineButton:hover, .inlineButton:focus {
    color: #0288c2;
}
.inlineButton:active {
    color: #0177aa;
}
.inlineButton-icon {
    margin-bottom: 0.25rem;
    margin-left: 0.5625rem;
    vertical-align: middle;
}
.linkMoreButton-dropdown {
    position: relative;
    width: 100%;
}
.linkMoreButton-wrapper {
    display: flex;
    flex-direction: row;
}
a.linkMoreButton {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    line-height: 2.6875rem;
    margin-bottom: 0.1875rem;
    margin-right: 0.0625rem;
    min-width: 1rem;
    padding-left: 1.25rem;
    text-align: center;
    width: calc(100% - 51px);
}
a.linkMoreButton:hover, a.linkMoreButton:focus {
    color: #ffffff;
}
a.linkMoreButton:active {
    background-color: #007e26;
}
.buttonMore {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-bottom: 0.1875rem;
    margin-right: 0;
    min-width: 0;
    padding: 0;
    width: 3rem;
}
.buttonMore:focus, .buttonMore:active {
    background-color: #007e26;
    border-color: #007e26;
}
.buttonMore .icon {
    top: 0;
    vertical-align: middle;
}
.linkMoreButton-options {
    background-color: #ffffff;
    border: 1px solid #f4f4f4;
    border-radius: 3px;
    box-shadow: 0 4px 3.92px 0.08px rgba(0, 0, 0, 0.15);
    list-style: outside none none;
    margin-bottom: 0.1875rem;
    margin-top: 0.1875rem;
    opacity: 0;
    overflow: hidden;
    padding-left: 0;
    position: absolute;
    transition: opacity 0.15s linear 0s, visibility 0s linear 0.15s;
    visibility: hidden;
    width: 100%;
}
.linkMoreButton-options.is-open {
    opacity: 1;
    transition: opacity 0.15s linear 0s, visibility 0s linear 0s;
    visibility: visible;
}
.linkMoreButton-options > li:not(:last-child) {
    border-bottom: 1px solid #f4f4f4;
}
.linkMoreButton-options > li {
    margin-bottom: 0;
}
.linkMoreButton-option {
    background-color: #ffffff;
    color: #262626;
    cursor: pointer;
    display: block;
    font-family: "LatoWeb";
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.025rem;
    min-width: 100%;
    padding: 0.9375rem;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    width: 100%;
}
.linkMoreButton-option:hover {
    background-color: #f4f4f4;
    border: 0 none;
    color: #262626;
}
.linkMoreButton-option:focus, .linkMoreButton-option:active {
    border: 0 none;
}
@media only screen and (max-width: 767px) {
.buttonExtraLarge, .tertiaryButton, .buttonGroup {
    min-width: 14.375rem;
}
.inlineButton-text--hideInMobile {
    display: none;
}
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
}
.flex-container.and-nowrap {
    flex-wrap: nowrap;
}
@media only screen {
.flex-container.and-smallRow {
    flex-direction: row;
}
.flex-container.and-smallRowReverse {
    flex-direction: row-reverse;
}
.flex-container.and-smallColumn {
    flex-direction: column;
}
.flex-container.and-smallColumnReverse {
    flex-direction: column-reverse;
}
.flex-container.and-smallJustifyStart {
    justify-content: flex-start;
}
.flex-container.and-smallJustifyEnd {
    justify-content: flex-end;
}
.flex-container.and-smallJustifyCenter {
    justify-content: center;
}
.flex-container.and-smallJustifyBetween {
    justify-content: space-between;
}
.flex-container.and-smallJustifyAround {
    justify-content: space-around;
}
.flex-container.and-smallAlignStart {
    align-items: flex-start;
}
.flex-container.and-smallAlignEnd {
    align-items: flex-end;
}
.flex-container.and-smallAlignCenter {
    align-items: center;
}
.flex-container.and-smallAlignStretch {
    align-items: stretch;
}
.flex-container.and-smallAlignBaseline {
    align-items: baseline;
}
}
@media only screen and (min-width: 768px) {
.flex-container.and-mediumRow {
    flex-direction: row;
}
.flex-container.and-mediumRowReverse {
    flex-direction: row-reverse;
}
.flex-container.and-mediumColumn {
    flex-direction: column;
}
.flex-container.and-mediumColumnReverse {
    flex-direction: column-reverse;
}
.flex-container.and-mediumJustifyStart {
    justify-content: flex-start;
}
.flex-container.and-mediumJustifyEnd {
    justify-content: flex-end;
}
.flex-container.and-mediumJustifyCenter {
    justify-content: center;
}
.flex-container.and-mediumJustifyBetween {
    justify-content: space-between;
}
.flex-container.and-mediumJustifyAround {
    justify-content: space-around;
}
.flex-container.and-mediumAlignStart {
    align-items: flex-start;
}
.flex-container.and-mediumAlignEnd {
    align-items: flex-end;
}
.flex-container.and-mediumAlignCenter {
    align-items: center;
}
.flex-container.and-mediumAlignStretch {
    align-items: stretch;
}
.flex-container.and-mediumAlignBaseline {
    align-items: baseline;
}
}
@media only screen and (min-width: 1025px) {
.flex-container.and-largeRow {
    flex-direction: row;
}
.flex-container.and-largeRowReverse {
    flex-direction: row-reverse;
}
.flex-container.and-largeColumn {
    flex-direction: column;
}
.flex-container.and-largeColumnReverse {
    flex-direction: column-reverse;
}
.flex-container.and-largeJustifyStart {
    justify-content: flex-start;
}
.flex-container.and-largeJustifyEnd {
    justify-content: flex-end;
}
.flex-container.and-largeJustifyCenter {
    justify-content: center;
}
.flex-container.and-largeJustifyBetween {
    justify-content: space-between;
}
.flex-container.and-largeJustifyAround {
    justify-content: space-around;
}
.flex-container.and-largeAlignStart {
    align-items: flex-start;
}
.flex-container.and-largeAlignEnd {
    align-items: flex-end;
}
.flex-container.and-largeAlignCenter {
    align-items: center;
}
.flex-container.and-largeAlignStretch {
    align-items: stretch;
}
.flex-container.and-largeAlignBaseline {
    align-items: baseline;
}
}
.flex-item {
    flex: 1 1 auto;
}
.flex-item.and-auto {
    flex: 0 0 auto;
}
@media only screen {
.flex-small-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}
.flex-small-2 {
    flex: 0 0 16.6667%;
    max-width: 16.6667%;
}
.flex-small-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.flex-small-4 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
}
.flex-small-5 {
    flex: 0 0 41.6667%;
    max-width: 41.6667%;
}
.flex-small-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.flex-small-7 {
    flex: 0 0 58.3333%;
    max-width: 58.3333%;
}
.flex-small-8 {
    flex: 0 0 66.6667%;
    max-width: 66.6667%;
}
.flex-small-9 {
    flex: 0 0 75%;
    max-width: 75%;
}
.flex-small-10 {
    flex: 0 0 83.3333%;
    max-width: 83.3333%;
}
.flex-small-11 {
    flex: 0 0 91.6667%;
    max-width: 91.6667%;
}
.flex-small-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
}
@media only screen and (min-width: 768px) {
.flex-medium-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}
.flex-medium-2 {
    flex: 0 0 16.6667%;
    max-width: 16.6667%;
}
.flex-medium-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.flex-medium-4 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
}
.flex-medium-5 {
    flex: 0 0 41.6667%;
    max-width: 41.6667%;
}
.flex-medium-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.flex-medium-7 {
    flex: 0 0 58.3333%;
    max-width: 58.3333%;
}
.flex-medium-8 {
    flex: 0 0 66.6667%;
    max-width: 66.6667%;
}
.flex-medium-9 {
    flex: 0 0 75%;
    max-width: 75%;
}
.flex-medium-10 {
    flex: 0 0 83.3333%;
    max-width: 83.3333%;
}
.flex-medium-11 {
    flex: 0 0 91.6667%;
    max-width: 91.6667%;
}
.flex-medium-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
}
@media only screen and (min-width: 1025px) {
.flex-large-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}
.flex-large-2 {
    flex: 0 0 16.6667%;
    max-width: 16.6667%;
}
.flex-large-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.flex-large-4 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
}
.flex-large-5 {
    flex: 0 0 41.6667%;
    max-width: 41.6667%;
}
.flex-large-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.flex-large-7 {
    flex: 0 0 58.3333%;
    max-width: 58.3333%;
}
.flex-large-8 {
    flex: 0 0 66.6667%;
    max-width: 66.6667%;
}
.flex-large-9 {
    flex: 0 0 75%;
    max-width: 75%;
}
.flex-large-10 {
    flex: 0 0 83.3333%;
    max-width: 83.3333%;
}
.flex-large-11 {
    flex: 0 0 91.6667%;
    max-width: 91.6667%;
}
.flex-large-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
}
.marketing h1 {
    font-size: 3rem;
}
.marketing h2 {
    font-size: 2.25rem;
    line-height: 1.875rem;
}
.marketing h3 {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}
.marketing h4 {
    font-size: 1.125rem;
    letter-spacing: 0.025rem;
}
.marketing h5 {
    font-size: 0.6875rem;
    letter-spacing: 0.1rem;
}
.marketing h6 {
    font-family: "LatoWeb";
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}
.marketing p {
    letter-spacing: 0.025rem;
    line-height: 1.875rem;
}
h1, h2, h3, h4, h5, h6 {
    color: #262626;
    font-family: "LatoWeb";
    margin: 0;
}
h1 {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}
h2 {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
}
h3 {
    font-size: 1.125rem;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
}
h4 {
    font-size: 0.6875rem;
    letter-spacing: 0.05rem;
    line-height: 1.125rem;
}
h5, h6 {
    font-size: 0.875rem;
    letter-spacing: 0.025rem;
    line-height: 2.25rem;
}
p {
    font-family: "LatoWeb";
    font-size: 1rem;
    letter-spacing: 0.025rem;
    line-height: 1.5;
    margin: 0 0 1.875rem;
}
a {
    color: #02aaf3;
    text-decoration: none;
}
a:hover, a:focus {
    color: #0288c2;
}
a:active {
    color: #0177aa;
}
a {
    color: #02aaf3;
    text-decoration: none;
}
a:hover, a:focus {
    color: #0288c2;
}
a:active {
    color: #0177aa;
}
.numeral {
    font-weight: 900;
    letter-spacing: 0.025rem;
}
.numeral--alert {
    color: #f65f5f;
}
.numeral--small {
    font-size: 1.75rem;
}
.numeral--medium {
    font-size: 2.25rem;
}
.numeral--large {
    font-size: 2.625rem;
}
.numeral-affix {
    font-size: 0.5em;
    position: relative;
    top: -0.69em;
}
.linkNumeral .numeral {
    color: #02aaf3;
    text-decoration: none;
}
.linkNumeral .numeral:hover, .linkNumeral .numeral:focus {
    color: #0288c2;
}
.linkNumeral .numeral:active {
    color: #0177aa;
}
.marketing .numeral--small {
    font-size: 2.25rem;
}
.marketing .numeral--medium {
    font-size: 2.625rem;
}
.marketing .numeral--large {
    font-size: 4.5rem;
}
.odometer.odometer-auto-theme, .odometer.odometer-theme-minimal {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.odometer.odometer-auto-theme, .odometer.odometer-theme-minimal {
}
.odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-minimal .odometer-digit {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-minimal .odometer-digit {
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer, .odometer.odometer-theme-minimal .odometer-digit .odometer-digit-spacer {
    display: inline-block;
    vertical-align: middle;
    visibility: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer, .odometer.odometer-theme-minimal .odometer-digit .odometer-digit-spacer {
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-minimal .odometer-digit .odometer-digit-inner {
    bottom: 0;
    display: block;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: left;
    top: 0;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon, .odometer.odometer-theme-minimal .odometer-digit .odometer-ribbon {
    display: block;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner, .odometer.odometer-theme-minimal .odometer-digit .odometer-ribbon-inner {
    backface-visibility: hidden;
    display: block;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-value, .odometer.odometer-theme-minimal .odometer-digit .odometer-value {
    display: block;
    transform: translateZ(0px);
}
.odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value, .odometer.odometer-theme-minimal .odometer-digit .odometer-value.odometer-last-value {
    position: absolute;
}
.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-theme-minimal.odometer-animating-up .odometer-ribbon-inner {
    transition: transform 2s ease 0s, -webkit-transform 2s ease 0s;
}
.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-minimal.odometer-animating-up.odometer-animating .odometer-ribbon-inner {
    transform: translateY(-100%);
}
.odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner, .odometer.odometer-theme-minimal.odometer-animating-down .odometer-ribbon-inner {
    transform: translateY(-100%);
}
.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-minimal.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
    transform: translateY(0px);
    transition: transform 2s ease 0s, -webkit-transform 2s ease 0s;
}
.marketing {
}
.marketing .parker-marker {
    background-image: url("/js/e6ee89903582e1e4cd59730c1ecde002.png");
    border: medium none;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 80px;
    padding: 0;
    width: 80px;
}
.marketing .summary-banner-item-svg {
    fill: #ffffff;
    height: 40px;
    margin-right: 15px;
    width: 40px;
}
@media only screen and (max-width: 769px) {
.marketing .summary-banner-item-svg {
    margin-bottom: 10px;
    margin-right: 0;
}
}
.marketing .summary-banner-item-svg-payments {
    fill: #ffffff;
    height: 55px;
    margin-right: 15px;
    width: 55px;
}
@media only screen and (max-width: 769px) {
.marketing .summary-banner-item-svg-payments {
    margin-bottom: 4px;
    margin-right: 0;
    margin-top: -9px;
}
}
.marketing .summary-banner-item-text {
    font-weight: 600;
    text-transform: uppercase;
}
.marketing .summary-banner-item-text-title {
    color: #ffffff;
    line-height: 1;
    padding-bottom: 3px;
}
.marketing .summary-banner-container {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1180px;
    overflow: hidden;
    padding: 57px 15px;
    width: 100%;
}
.marketing .summary-banner-container::after {
    clear: both;
    content: "";
    display: table;
}
@media only screen and (max-width: 769px) {
.marketing .summary-banner-container {
    min-height: 100%;
    padding-top: 55px;
}
}
.marketing .summary-banner-item-top {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 25%;
}
@media only screen and (max-width: 769px) {
.marketing .summary-banner-item-top {
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;
    width: 50%;
}
}
.marketing .summary-banner-item-bottom {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 25%;
}
@media only screen and (max-width: 769px) {
.marketing .summary-banner-item-bottom {
    flex-direction: column;
    text-align: center;
    width: 50%;
}
}
.marketing .uppercase {
    text-transform: uppercase;
}
.marketing .worldwideStats {
    color: #ffffff;
    font-size: 1.125rem;
    margin: 0 auto;
    max-width: 200px;
    padding-top: 0;
}
.marketing .button {
    margin-right: 0;
}
.marketing .button:hover {
    color: white;
}
.marketing .buttonLarge {
    line-height: 3.125rem;
}
.marketing .secondaryButton.buttonLarge {
    line-height: 2.8rem;
}
.marketing .flex-container {
    margin: 0 auto;
    max-width: 1200px;
}
.marketing .homepage-h1 {
    font-size: 1.8rem;
    letter-spacing: 0.09em;
    line-height: normal;
}
.marketing .homepage-h4 {
    font-size: 1rem;
    line-height: 1.5rem;
}
.marketing .homepage-h5 {
    line-height: 1rem;
}
.marketing .homepage-p {
    line-height: 1.5rem;
}
.marketing .helperText {
    color: #262626;
    font-size: 0.875rem;
    letter-spacing: 0.01rem !important;
    line-height: 1.125rem !important;
}
.marketing .icon-large {
    height: 1.67rem;
    width: 1.6rem;
}
.marketing .icon-large.shield {
    height: 31px;
    width: 31px;
}
.marketing .cta-link-svg {
    height: 12px;
    width: 19px;
}
.marketing .cta-link {
    align-items: center;
    border-bottom: 4px solid #00b437;
    color: inherit;
    display: inline-flex;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 5px;
}
.marketing .cta-link:hover, .marketing .cta-link:focus {
    color: #00b437;
}
.marketing .cta-link:hover .cta-link-svg, .marketing .cta-link:focus .cta-link-svg {
    fill: #00b437;
}
@media (min-width: 768px) {
.marketing .homepage-h1 {
    font-size: 3rem;
}
.marketing .button {
    margin-right: 1.875rem;
}
}
.marketing .homepage-h1 {
    margin-bottom: 17px;
}
.marketing .homepage-h3 {
    margin-bottom: 0;
}
.marketing .homepage-h4 {
    font-size: 1rem;
    margin: 0 auto 40px;
    max-width: 245px;
}
.marketing .homepage-h5 {
    margin-bottom: 0;
}
.marketing .homepage-a, .marketing .homepage-svg, .marketing .homepage-h5 {
    transition: color 0.15s ease-in-out 0s, fill 0.15s ease-in-out 0s;
}
.marketing .hero-wrapper {
    background-color: #f4f4f4;
    background-image: url("/js/16edb5416616d1339b83bf880841427a.png"), url("/js/8cdf65221a983d7d1981adecf7f5c80b.png");
    background-position: left calc(20% - 93px) top 50px, right calc(20% - 93px) top 50px;
    background-repeat: no-repeat;
    background-size: 160px auto, 160px auto;
}
.marketing .hero {
    background-color: rgba(244, 244, 244, 0.7);
    overflow: hidden;
    padding: 35px 0 30px;
    position: relative;
    text-align: center;
}
.marketing .hero .flex-container {
    position: relative;
}
.marketing .hero .flex-item {
    z-index: 1;
}
.marketing .hero .homepage-video {
    display: none;
}
.marketing .hero .hero-static {
    display: none;
}
.marketing .categories {
    padding: 7px 0 0;
    width: 100%;
}
.marketing .category {
    padding: 17px 15px 0;
    position: relative;
}
.marketing .category:not(:last-child) {
    border-bottom: 1px solid #bbb8b8;
}
.marketing .category .category-svg-container {
    margin: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.marketing .category .category-svg {
    color: #262626;
    margin-right: 1rem;
}
.marketing .category .category-title {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    line-height: 1.2rem;
    margin: 3px 0 6px;
}
.marketing .category .category-img {
    max-height: 80px;
}
.marketing .category .category-description {
    margin: 0 0 26px;
}
.marketing .category:hover .category-svg, .marketing .category:hover .category-title, .marketing .category:active .category-svg, .marketing .category:active .category-title, .marketing .category:focus .category-svg, .marketing .category:focus .category-title {
    color: #02aaf3;
    fill: #02aaf3;
}
.marketing .sectionContent .controls-selectors, .marketing .controls .controls-selectors {
    font-size: 0.875rem;
    margin-bottom: 10px;
}
.marketing .homepage-section.section {
    padding: 55px 15px 60px;
}
.marketing .homepage-section.dark {
    background-color: #1c2431;
    color: white;
    text-align: center;
}
.marketing .homepage-section.dark .homepage-h5 {
    color: inherit;
}
.marketing .homepage-section.dark .homepage-h3 {
    line-height: 1.85rem;
}
.marketing .homepage-section.dark .homepage-h3 svg {
    vertical-align: sub;
}
.marketing .homepage-section.dark .homepage-p {
    margin: 20px auto 0;
    max-width: 670px;
}
.marketing .homepage-section.dark svg {
    fill: white;
}
.marketing .homepage-section.dark svg.shield {
    display: block;
    margin: 0 auto 20px;
}
.marketing .homepage-section.dark .cta-link {
    margin-top: 20px;
}
.marketing #adModule {
    padding: 31px 15px 50px;
}
.marketing .shipper, .marketing .business {
    background-color: white;
}
.marketing .carrier {
    background-color: #f4f4f4;
}
.marketing .slanted {
    background-color: inherit;
    background-repeat: no-repeat;
    background-size: auto 320px;
    overflow: hidden;
    position: relative;
}
.marketing .slanted .imageWrapper {
    max-height: 460px;
    overflow: hidden;
}
.marketing .slanted .imageWrapper img {
    height: auto;
    max-width: 100%;
}
.marketing .slanted .homepage-h1 {
    border-bottom: 1px solid #e5e5e5;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    padding-bottom: 15px;
}
.marketing .slanted .sectionContent {
    padding: 28px 15px 60px;
    position: relative;
    z-index: 3;
}
.marketing .slanted::before {
    background-color: inherit;
    content: "";
    height: 500%;
    position: absolute;
    top: -250%;
    width: 100%;
    z-index: 2;
}
.marketing .slanted.slantedBackgroundLeft::before {
    left: 67%;
    transform: rotate(331deg);
}
.marketing .slanted.slantedBackgroundRight::before {
    right: 67%;
    transform: rotate(-331deg);
}
.marketing #statsModule {
    padding: 58px 15px 55px;
}
.marketing #statsModule .numeral {
    font-size: 2.25rem;
    margin-right: 5px;
    position: relative;
}
.marketing #statsModule .stat {
    overflow: hidden;
}
.marketing #statsModule .stat.listings, .marketing #statsModule .stat.customers {
    display: none;
}
.marketing #statsModule .homepage-h5 {
    color: inherit;
    display: inline-block;
    line-height: 0.85rem;
    max-width: 75px;
    text-align: left;
}
.marketing .odometer::after {
    bottom: 0;
    box-shadow: 13px 0 8px 5px #1c2431 inset;
    content: "";
    left: -25px;
    position: absolute;
    right: 0;
    top: 0;
}
.marketing .millions {
    height: 51px;
    position: relative;
    top: 3px;
}
.marketing .controls {
    padding: 20px;
}
.marketing .controls .controls-selectors {
    float: left;
}
.marketing .controls .spacer {
    border-right: 1px solid #c1c1c1;
    display: inline-block;
    height: 38px;
    margin: 0 33px;
    transform: rotate(20deg);
    vertical-align: middle;
    width: 1px;
}
.marketing .controls .controls-description {
    font-size: 19px;
    margin-bottom: 28px;
    text-align: center;
}
.marketing .controls .selector-link {
    color: inherit;
    padding-bottom: 4px;
}
.marketing .controls .selector-link:hover {
    color: #02aaf3;
}
.marketing .controls .selector-link.active {
    border-bottom: 3px solid #02aaf3;
}
.marketing #partnerModule {
    min-height: 100px;
    padding: 27px 15px 32px;
    text-align: center;
}
.marketing #partnerModule .partner-module-cta {
    font-size: 1.125rem;
    letter-spacing: 0.05rem;
    margin-bottom: 20px;
    text-align: center;
}
.marketing .hero-headline {
    word-wrap: break-word;
}
.marketing #map {
    height: 476px;
    width: 100%;
}
@media (min-width: 515px) {
.marketing .hero {
    background-color: transparent;
}
}
@media (min-width: 768px) {
.marketing .hero-headline {
    word-wrap: normal;
}
.marketing .hero-description {
    max-width: 75%;
}
.marketing .hero-wrapper {
    background-image: url("/js/ad6269b9afe566a8ce2add6f02a36084.png");
    background-position: calc(258px + 50%) 60px;
    background-size: 250px auto;
}
.marketing .hero {
    text-align: left;
}
.marketing .hero .flex-item {
    margin-left: 24px;
}
.marketing .button {
    float: left;
}
.marketing .categories {
    padding: 15px;
}
.marketing .homepage-h4 {
    font-size: 1.125rem;
    margin: 0 0 48px;
    padding-top: 12px;
}
.marketing .category {
    padding: 30px 30px 0;
}
.marketing .category:not(:nth-child(3n)) {
    border-right: 1px solid #bbb8b8;
}
.marketing .category:nth-child(n+4) {
    border-bottom: medium none;
}
.marketing .category .category-svg-container {
    display: none;
}
.marketing .category .category-img {
    display: block;
    margin: 0 auto;
    max-width: 135px;
}
.marketing .category .category-title {
    font-size: 0.875rem;
    letter-spacing: 0.1rem;
    margin: 3px 0 7px;
}
.marketing .category .category-description {
    margin: 0 0 1.875rem;
}
.marketing .slanted::before {
    display: none;
}
.marketing #adModule {
    padding: 55px 15px 60px;
}
.marketing #statsModule .stat.listings {
    display: block;
}
.marketing #partnerModule {
    text-align: left;
}
.marketing #partnerModule .partner-module-cta {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 30px;
}
}
@media (min-width: 1025px) {
.marketing .middle-cta {
    font-size: 15px;
}
.marketing .hero-wrapper {
    background-image: none;
    background-position: 100% center;
}
.marketing .hero {
    padding: 100px 0 138px;
}
.marketing .hero .homepage-video {
    display: block;
    left: 20px;
    position: absolute;
    top: -75px;
    width: 1000px;
}
.marketing .hero .hero-static {
    display: none;
    left: 20px;
    position: absolute;
    top: -75px;
    width: 1000px;
}
.marketing .categories {
    background-color: transparent;
    margin-top: -71px;
    padding: 0;
    position: relative;
}
.marketing .categories .category {
    border: medium none;
    padding: 15px 15px 0;
    text-align: center;
}
.marketing .categories .category:hover, .marketing .categories .category:focus {
    background: rgba(0, 0, 0, 0) linear-gradient(0deg, #02aaf3 5px, transparent 0%, transparent 0%) no-repeat scroll 50% 100% / 70% auto;
}
.marketing .categories .category .category-description {
    margin: 0 0 1.175rem;
}
.marketing .helperText {
    margin: 0 0 1.2rem;
}
.marketing .slanted .flex-item {
    background: transparent none repeat scroll 0 0;
    margin-top: 0;
}
.marketing .slanted::before {
    display: block;
}
.marketing .slanted.slantedBackgroundLeft .sectionContent {
    margin-left: 53.5%;
}
.marketing .slanted.slantedBackgroundLeft::before {
    background-color: #ffffff;
    left: 40%;
}
.marketing .slanted.slantedBackgroundRight img {
    right: 0;
}
.marketing .slanted.slantedBackgroundRight::before {
    background-color: #f4f4f4;
    right: 41%;
}
.marketing .slanted .sectionContent {
    min-height: 460px;
    padding: 63px 15px;
}
.marketing .slanted .sectionContent .homepage-p {
    margin-bottom: 80px;
}
.imageWrapper {
    bottom: 0;
    left: 0;
    max-height: 460px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}
.marketing .slanted .imageWrapper img {
    max-width: 670px;
    position: absolute;
}
.marketing #statsModule .stat.customers {
    display: block;
}
.marketing .controls {
    padding: 46px 15px 44px;
}
.marketing .controls .controls-description {
    font-size: 1.5rem;
    line-height: 1.9rem;
    margin-bottom: 0;
    text-align: left;
}
.marketing .controls .controls-selectors {
    padding-top: 4px;
}
.marketing #partnerModule .cta-link {
    padding-top: 10px;
}
.marketing .forceSentenceWrap {
    max-width: 62%;
}
}
@media (min-width: 1153px) {
.marketing .hero .homepage-video {
    left: 90px;
}
.marketing .hero .hero-static {
    left: 90px;
}
}
@media (min-width: 1210px) {
.marketing .hero-wrapper {
    background-image: url("/js/6c1dde13c2e64bd02ee4f1f4500b6c41.png");
    background-position: 100% 25%;
    background-size: inherit;
}
.marketing .hero .homepage-video {
    left: 30px;
}
.marketing .hero .hero-static {
    left: 30px;
}
}
@media (max-width: 1025px) {
.marketing .hero .flex-item, .marketing .controls .flex-item, .marketing #partnerModule .flex-item {
    flex: 1 1 auto;
}
}

